[2020-01-09 13:05] #5097 closed

[2020-01-09 14:24] TheIronCheek commented on #4892
Thanks for your help @lahuey and @andrewconnell !

[2020-01-09 14:40] patmill commented on #5098
And if you use the UX itself, does it open in the correct place (pane on the page, not pane on the webpart iFrame)?

[2020-01-09 14:41] FlorianLabranche commented on #4892
@lahuey Great news !

On my side, the issue is between an extension and a document library page itself (Forms/AllItems.aspx). I hope the inner "doc lib component" uses the same underlying code as well !

[2020-01-09 15:07] jonathanhotono commented on #5098
@patmill using the UX itself open in the correct place (on the page instead of iframe). This is the first time I am using isolated webpart and using `.open()` (pnp react placeholder component).

[2020-01-09 16:05] guillaume-kizilian commented on #4892
Should it fix the spfxsinglesignon.aspx errors ?
![2020-01-09 17_00_14-Sans titre - paint net v4 2 8](https://user-images.githubusercontent.com/6792560/72083342-f1076900-3301-11ea-9add-ea2914b7b689.png)

[2020-01-09 17:32] sebastienlevert opened #5103 "The HeaderlessSearchResults ClientSidePageLayoutType fails and can't be used"
#### Category
- [ ] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

Using this tutorial : https://docs.microsoft.com/en-us/sharepoint/dev/spfx/building-search-extensions, I should be able to assign a page as my search center and change its type to see the headerless search results page layout type.

#### Observed Behavior

I can use PnP PowerShell to

[2020-01-09 17:46] patmill commented on #5098
Thanks Jonathan, that's helpful.

[2020-01-09 17:48] patmill commented on #5103
Hey Sebastien, can you send me the Tenant URL?  I'm trying to look up the error, but I need to start with the tenant.

[2020-01-09 17:54] mcgeeky commented on #4970
@JeremyKelley any news from your colleagues on this? @VesaJuvonen can you help with this?

The un-announced behaviour change has impacted our application. Its now been over a month since I logged this.

[2020-01-09 17:58] lucabandMSFT commented on #5101
@Gitkohn , thanks for reporting that back. SPFx based tabs are available on Teams Mobile Client under "developer preview". Please follow the documentation reported here to check if you can access Teams Personal Apps that are SPFx based in Teams Mobile: https://docs.microsoft.com/en-us/microsoftteams/platform/resources/dev-preview/developer-preview-intro

[2020-01-09 18:00] sebastienlevert commented on #5103
Tenant : sebastienlevert365
CorrelationId :  31da299f-807d-a000-a089-ea1fb055a42a

[2020-01-09 18:42] #5092 closed

[2020-01-09 18:48] MarkStokes-outlook commented on #5092
Hi @Vesa. I see you closed this but it’s not been updated.. Does that mean it’s supposed to be there for some reason?

As AC says it’s not valid JSON.

[2020-01-09 18:52] VesaJuvonen commented on #5092
It was merged 9 min ago to the docs and publishing process takes 10-15 min. I'm trying - I'm trying... but you guys demand so much.... no....................................... it will be there soon as fixed doc, trust me. We are trying and not lying... 😀

[2020-01-09 18:54] VesaJuvonen commented on #5092
thx @nanddeepn  for providing the fix, highly appreciated.

[2020-01-09 18:56] MarkStokes-outlook commented on #5092
Lol. Thanks Vesa!

Us? Demanding? Whenever did that start?

Sharing is caring!

[2020-01-09 19:55] deanbot opened #5107 "Update dynamic data consuming web part example missing nonstandard imports"
Add DynamicDataSharedDepth, IWebPartPropertiesMetadata, PropertyPaneDynamicField, and PropertyPaneDynamicFieldSet import line to the ['consume dynamic data in web parts' example](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/dynamic-data#consume-dynamic-data-in-web-parts).

Aka, add below the DynamicProperty import:
`import { DynamicDataSharedDepth, IWebPartPropertiesMetadata, PropertyPaneD

[2020-01-09 20:33] tdwhite0 commented on #5103
I have the same issue, with the same error message.

[2020-01-09 20:38] patmill commented on #5103
OK, tracked down the issue.  A flight has not finished rolling to 100% of first release / targeted release.  We're pushing that along now.  I'll post back here when it hits 100% of TR.

[2020-01-09 20:59] AJIXuMuK commented on #5094
Hi @andrewconnell,

Yes, it looks similar to the issue you've referenced.
The error is somewhere inside `sp-http-adal.js`.

And I figured out the reason: the last request of the chain for authentication is `GET https://tenant.sharepoint.com/_forms/spfxsinglesignon.aspx`.
And this page is cached (the response is `200 OK from disk cache`.
As soon as you disable the cache in a browser - it starts wor

[2020-01-09 21:11] dsm0880 commented on #4621
@andrewconnell I'm now getting this same issue on additional sites. Should I go another route than through ticketing in GitHub?

[2020-01-09 21:38] AJIXuMuK commented on #5094
Digging a bit deeper.
As I mentioned in the beginning - clearing browser cache doesn't help. So, it's interesting as the page is cached...
The reason - authentication flow is called twice.
<img width="398" alt="Screen Shot 2020-01-09 at 1 21 29 PM" src="https://user-images.githubusercontent.com/17036219/72106844-04f0a200-32e5-11ea-880c-b7a07699c124.png">

During the first cycle the page is cached

[2020-01-09 22:36] lucabandMSFT commented on #4669
(+ @lahuey just for FYI) No, not yet. We are actively working on it and we are really hoping to be able to unlock the capability in February. That's not lack of commitment from our side but we want to do the right thing from all the aspects (performance, security, etc..).

[2020-01-09 22:55] andrewconnell commented on #5107
Good catch... will get the doc updated.

[2020-01-09 22:58] andrewconnell commented on #5094
See #4892... MSFT working on a fix... appears to be a race condition under the covers. You say this looks like the same thing, so I'm going to mark as a dupe and close. If you think otherwise, we can reopen.

[2020-01-09 22:58] #5094 closed

[2020-01-09 23:03] andrewconnell commented on #4621
Dunno... hard to repro if you're looking at a list that big. @JeremyKelley any suggestions on the best approach to get help on this?

[2020-01-09 23:31] AJIXuMuK commented on #5094
No objections

[2020-01-09 23:48] #5107 closed

[2020-01-09 23:48] #5033 closed

[2020-01-09 23:48] #5069 closed

[2020-01-09 23:55] #5026 closed

[2020-01-10 03:03] middiu commented on #3749
Sorry to re-open this old conversation but I would like to make sure I got this right.

So for Sharepoint 2016 we can only use SPFx 1.1, that means we can only use React 15 and then only the libraries/modules that work with React 15. For example we can only use Fabric 5.

Am I correct?

[2020-01-10 07:06] wobba commented on #4875
@Rafaelki in your original question you state you are getting small images. The URL points to having a width of 400px, is that small? Or is the returned image smaller than 400px wide? It's also called a *thumbnail* API ;)

[2020-01-10 08:37] Gitkohn commented on #5101
@lucabandMSFT thanks for the info.
I activated the development preview. I still can't see the personal app inside the mobile client, but maybe it will take 24 hours for the settings to take effect.

Additionally remarks:
- I still don't know how to configure the webpart settings (or if it's possible) when using a Personal Teams App
- The performance between Teams and Graph seems to be better when

[2020-01-10 09:47] wobba commented on #4875
The getpreview.ashx handler is an internal handler and is going away, so you should not take a dependency on this. As for issues with sizes using the thumbnail API, these are being tracked internally and should be rolled out this month is what I've been told.

Is it ok if I close this for now, and you can re-open if you don't see any change on the Graph thumbnail API within the month or so?

[2020-01-10 10:13] Rafaelki commented on #4875
Hello @wobba, thank you very much for looking into this and for splitting the problem between Search and REST.

400px is perfect when it works (see screenshot in the @Chaitra1006 comment).

I think Search does the right thing with PictureThumbnailURL; it provides a _base URL_ that a developer can easily change to get other thumbnail sizes:
- With "getpreview.ashx" we can concat the querystring "re

[2020-01-10 11:17] Chaitra1006 commented on #4875
No, I was experiencing the same with the MS ticket.

[2020-01-10 11:30] #5064 closed

[2020-01-10 11:41] andrewconnell commented on #4996
Actually not a spelling error in the doc... but in the tool. The doc is correct, but it appears the tool's help report may need to be fixed. @jansenbe, you own this tool, correct?

[2020-01-10 11:42] FullStackRafik commented on #3749
Unfortunately, that's true :(

[2020-01-10 12:09] #4996 closed

[2020-01-10 12:10] #4951 closed

[2020-01-10 12:19] wobba commented on #4875
Using `getpreview.ashx` was never officially documented, although it worked ;) Manipulating or using the new documented thumbnail API is definitely the way forward, and any issues with that API should be tracked indeed.

Appending the `preferNoRedirect=true` parameter seems to ignore the actual size you specify, showing a more generic cached version. This parameter tries to load the thumbnail from

[2020-01-10 12:19] #4875 closed

[2020-01-10 13:27] svwerner commented on #2755
The same problem appeared today then creating a new calendar event via MS Graph API. Now 2 days are beeing substracted from the EventDate submitted. Disableing the all day event resultet in a substraction of 1 day of the submitted date.

The request has been made with an app registration using the Microsoft Graph API Endpoint for SharePoint Online.

[code]

Body
[code]

Response ( .. only the fiel

[2020-01-10 13:30] abdollahkahne opened #5115 "SharePoint Rest API or JSOM for updating user profile props"
#### Category
- [x] Question
- [ ] Typo
- [ ] Bug
- [ ] Additional article idea

"User profile properties from client APIs are read-only (except the profile picture, which you can change by using the PeopleManager.setMyProfilePicture method). If you want to change other user profile properties, you must use the server object model. "
This was a quote from [Microsoft SharePoint Dev Site ](https://d

[2020-01-10 13:58] andrewconnell commented on #5115
Not at this time

[2020-01-10 14:24] db3005 commented on #5012
@patmill @andrewconnell - Any updates on this issue?

[2020-01-10 14:30] AntonGavrin commented on #5059
Hi Lee, I'm sorry, I was on vacation.
So, I retested it with REST API and got the same error for /sites/yoursite/_api/web/fields:
`<m:error xmlns:m="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata">
<m:code>-1, System.FormatException</m:code>
<m:message xml:lang="en-US">Input string was not in a correct format.</m:message>
</m:error>`

If I use filter (for example Category field), I

[2020-01-10 16:00] menu4web commented on #2523
NewForm.aspx is now working. But it was broken for 3 days.

[2020-01-10 19:28] dsm0880 commented on #4621
@andrewconnell @JeremyKelley Ok in looking at this more it appears that the indexes may be broken. We re-created the site and content in a new site and everything works as expected. If that is the case  then is deleting the affected columns and re-creating the only option? How does this kind of thing happen in the first place?

[2020-01-11 15:01] abdollahkahne commented on #5115
Thanks for your answer @andrewconnell  as always.

[2020-01-11 15:01] #5115 closed

[2020-01-11 15:14] abdollahkahne commented on #5059
@AntonGavrin  If it worked with filter but doesn't work without it , I think possibly you have a problem with one of the site columns. Try to find that column(s)( and get ride of it in some way)

[2020-01-11 15:18] abdollahkahne commented on #5059
As an alternative way you may try for diagnosing is to use other query customization like `$orderBy` or  `$select.`

[2020-01-11 16:07] rayhogan opened #5116 "MS Teams App - SPFx webpart can't get AD token"
#### Category
- [ ] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

SPFx webpart should be able to get token using AadHttpClient

#### Observed Behavior
When calling an API from our teams tab app (SPFx sharepoint hosted app), we are getting a "Token Renewal Failed - Description : Token renewal operation failed due to timeout" error. This has been wor

[2020-01-11 17:00] #5077 closed

[2020-01-11 18:28] rayhogan commented on #5116
Some more additional info. I can see in the Network tab the following calls:
![image](https://user-images.githubusercontent.com/769565/72208838-ac193900-349f-11ea-8c0d-44dfc3475cf0.png)

The 4 authorize? endpoints appear to be fine, and I can see that I am getting back a valid jwt token from AAD. The issue appears to be when it is calling the https://<mytenant>.sharepoint.com/_forms/spfxsinglesign

[2020-01-11 19:46] abdollahkahne opened #5118 "A Question About Feeds in SharePoint"
Sorry If I ask my question here, In SharePoint news feed there are 5 Tabs including **Following, Everyone,Mentions,Likes and activity.**
I code retrieve all of this except the **Everyone** news-feed using rest API and I search a lot i the web but I couldn't find something useful. Anybody who knows the rest API for Everyone Feeds are welcomed,
Thanks in advance and sorry if I ask my question

[2020-01-11 23:11] wysisoft opened #5119 "MSGraphClient still does not work for guest accounts without browser activity"
#### Category
- [ ] Question
- [ ] Typo
- [X ] Bug
- [ ] Additional article idea

related to #3722, I have a mobile app that gets an oauth token and then uses it in the graph client

var c = new GraphServiceClient(
   new DelegateAuthenticationProvider(
       (requestMessage) =>
       {
           requestMessage.Headers.Authorization = new AuthenticationHeaderValue("bearer", syncInfo.accessToken

[2020-01-12 15:26] mpaukkon commented on #5116
I'm also getting same error with MSGraphClient.

![image](https://user-images.githubusercontent.com/11973653/72221168-8f910580-3560-11ea-9422-c31c8fe3d1d5.png)

[2020-01-12 15:37] kenmoritest opened #5120 "MSI Installer Link is dead."
If you are in Windows, you can use the msi installers (x86 or x64) in this link for the easiest way to set up NodeJS.Typical insta

x86 points ...
BAD URL : https://nodejs.org/dist/latest-v10.x/node-v10.18.0-x86.msi
PRECISE URL : https://nodejs.org/dist/latest-v10.x/node-v10.18.1-x86.msi

x64 points to ...
BAD URL : https://nodejs.org/dist/latest-v10.x/node-v10.18.0-x64.msi
PRECISE URL : https://n

[2020-01-12 16:09] VesaJuvonen commented on #5120
Seems that there was a minor update on the 1.10 release which then changed the URLs. Thanks for the comment, fixed on the docs now.

[2020-01-12 16:10] #5120 closed

[2020-01-12 19:06] lancebitner opened #5121 "Gulp Serve throws error: “Error - [tslint] No valid rules have been specified for TypeScript files”"
I get through the setup and Yo builds my web part. When I run `gulp serve` it throws error: “Error - [tslint] No valid rules have been specified for TypeScript files”

![error2](https://user-images.githubusercontent.com/24795799/72224043-e20ff900-3543-11ea-873a-ab174b2690f2.PNG)

[2020-01-12 22:04] russgove opened #5122 "How do outlook addins in spfx 1.10 get a SharePoint context?"
Hi,
Just going through the tutorial on creating an outlook add-in with spfx. It works great, but has no SharePoint context. How do I get a SharePoint context so that I can share info between outlook and SP?

I have a shared mailbox used by a customer service desk. I want to create an add-in that will take the data from an email and post it to SharePoint.  Will outlook add-ins created with spfx wor

[2020-01-12 22:09] lucabandMSFT commented on #5101
hey @FrankMuraschow , couple of answers:
- Personal apps in Teams do not have any settings experience. That is indipendent to SPFx and it is a peculiarity of Teams personal Apps
for the disabled cache and fore the fact that you may need 24 hours for the personal tab to show up .. I will defer to @lokimeyburg to provide additional feedbacks

[2020-01-12 23:00] #5096 closed

[2020-01-13 02:46] Dennis-LZ commented on #5121
Download the solution from here: [React Aggregated Calendar Webpart](https://github.com/SharePoint/sp-dev-fx-webparts/tree/master/samples/react-aggregated-calendar).

Then in the command line run:
[code]
![Capture](https://user-images.githubusercontent.com/55479607/72230592-7c7a4600-35f1-11ea-910d-e195b93dd51e.PNG)

If still get the same issue, please check the SharePoint Framework development env

[2020-01-13 05:15] malleshatla commented on #625
Any update on above request, i am looking for solution.

[2020-01-13 06:37] luismanez commented on #625
Afraid not @malleshatla
With new 1.10 version, we have an option to modify Search experiences (https://docs.microsoft.com/en-us/sharepoint/dev/spfx/building-search-extensions), but no new PlaceHolders yet

[2020-01-13 06:45] ilkkalehto commented on #4892
We have the exact same spfxsinglesignon.aspx errors when using SPFx Teams tabs with browser. However, no issues with Teams desktop client.

[2020-01-13 07:05] VesaJuvonen commented on #625
Locking the issue as it's already closed and no reason to keep on having chat on closed issues as those comments can easily get fully ignored.

[2020-01-13 10:12] andrewconnell commented on #5121
@lancebitner Need more context... what version of SPFx you're using, version of Node installed, etc...

[2020-01-13 10:16] andrewconnell commented on #5119
What error are you getting? You say it's failing if they are not signed into the site or it's been 24 hours since they were signed in... that sounds like the access token has expired...

[2020-01-13 10:18] andrewconnell commented on #5116
Suspect this is a dupe... see this comment for an update from MSFT: https://github.com/SharePoint/sp-dev-docs/issues/4892#issuecomment-572300906

As this is a dupe, closing so keep the issue consolidated.

[2020-01-13 10:18] #5116 closed

[2020-01-13 10:48] v-pajorg commented on #4892
Lahuey do you have an ETA for this fix?

[2020-01-13 10:55] jimmywim opened #5125 ""Manifest file validation has failed." on upload of manifest xml"
When performing step 6 of deployment - "Upload the manifest xml file from your project solution under the officeAddin folder", I receive the error "Manifest file validation has failed. (guid)".

The manifest is unchanged from that created by yeoman generator.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d7dc0df-037f

[2020-01-13 10:59] jimmywim commented on #5125
Addtionally, when I run `office-addin-manifest validate` against the manifest I get the following output:

[2020-01-13 11:19] pkbullock opened #5126 "This page is 2 years old"
I have seen references that using the Graph API access tokens in 3rd party migration tools reduce throttling for migrations, any details that can be shared?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9efe14fc-9d5d-a5fc-07ba-e013e89589e2
* Version Independent ID: 5455b54e-997d-75e3-018a-0bf3f3b2180b
* Content: [Avoi

[2020-01-13 11:53] jpalo commented on #4911
The surrounding `.ms-SPLegacyFabricBlock` DIV is also exploding width of the web part on classic pages with IE11. Had to clear the class like @OliverZeiser suggested.

[2020-01-13 14:22] jfgoodhew1 opened #5127 "Missing example for transferring odata.type"
Under Rename a Folder using MERGE method:
"From the result, obtain the odata.type value, such as SP.Data.Shared_x0020_DocumentsItem (the value may be different depending on your library configuration). Then issue a MERGE"
It is unclear how to transfer the odata.type from the GET request into the MERGE request. odata.type is not a valid dynamic item in Power Automate.

---
#### Document Details

⚠

[2020-01-13 14:31] jfgoodhew1 commented on #2168
Can we please get Power Automate screenshots in here for each of the flows? It's not easy to translate the text-only format into the Graphical User Interface of Power Automate.

[2020-01-13 16:17] lancebitner commented on #5121
SharePoint Online, SPFX 1.10.0, gulp 3.9.1, CLI 2.2.0, Yo 3.1.1, npm 6.13.4, and node 10.18.1 (tried 8.11.1, 8.16, and 10.3)...I ran `npm list -g --depth=0` and it revealed some things attached:
![eroor3](https://user-images.githubusercontent.com/24795799/72264419-be52be80-35e8-11ea-81d5-f687f1b4d55d.PNG)

Once I ran nodejs v 10.3.0 I longer had the error and I was able to do a Helloworld web part

[2020-01-13 17:19] rayhogan commented on #4892
This issue still exists for us when "User Consent" is disabled in Azure Active Directory.
![image](https://user-images.githubusercontent.com/769565/72276444-cf6ef000-3627-11ea-863e-43b249901f06.png)

When set to **No**, you cannot even create a direct website tab link to a SharePoint site:
![image](https://user-images.githubusercontent.com/769565/72276515-fcbb9e00-3627-11ea-8d70-eea6a3b96cab.png)

[2020-01-13 18:14] andrewconnell commented on #5121
@lancebitner it seems like you are saying you have it working, but sample web parts from the "SharePoint Github site" aren't working...

If you have issues with another project in another repo, you should post there... not here. This issue list is for general SharePoint dev issues.

_FYI, if you are referring to the **[sp-dev-fx-webparts](https://github.com/SharePoint/sp-dev-fx-webparts)** repo, t

[2020-01-13 18:14] #5121 closed

[2020-01-13 19:49] jrichmond4 commented on #4808
Drag and drop with react-dnd does not appear to work at all for me in spfx. We just converted a react app to spfx and it was working fine before. Any help?

[2020-01-13 22:35] andrewconnell commented on #5126
No update to provide to the throttling guidance

[2020-01-13 22:35] #5126 closed

[2020-01-13 23:02] lahuey commented on #4892
@rayhogan Can you (temporaily) disable their browser cache, and try again. That should resolve the issue you're seeing.

@guillaume-kizilian These errors are from SPO running an experiment with MSAL.js. They are safe to ignore and will not affect your component's ability to fetch tokens. We're working with the MSAL team to address these "ignorable" errors.

@v-pajorg About a month, but hopefully l

[2020-01-13 23:53] NZTEbaribc commented on #3887
I think regardless of who's comment is right or wrong. Following the instructions on this page fails due to the import of microsoft/sp-property-pane
because microsoft/sp-webpart-base already exists after you create the project. but if you remove the contents of the microsoft/sp-webpart-base import then the project just continues with more issues.

[2020-01-14 07:48] jfgoodhew1 opened #5128 "Broken Link"
See Also:
"REST API reference and samples" is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 916d6284-9149-5d95-48d8-40c60ba9f3c7
* Version Independent ID: 9c41a103-56d6-c186-26aa-ccd098a61f7e
* Content: [Use OData query operations in SharePoint REST requests](https://docs.microsoft.com/en-us/sharepoint/dev/sp-

[2020-01-14 07:49] jfgoodhew1 opened #5129 "Path"
Can we filter queries by path? It seems an obvious omission from a reference list...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 916d6284-9149-5d95-48d8-40c60ba9f3c7
* Version Independent ID: 9c41a103-56d6-c186-26aa-ccd098a61f7e
* Content: [Use OData query operations in SharePoint REST requests](https://docs.microso

[2020-01-14 07:49] jfgoodhew1 opened #5130 "Path"
Can we filter queries by path? Seems an obvious omission for a reference list...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 916d6284-9149-5d95-48d8-40c60ba9f3c7
* Version Independent ID: 9c41a103-56d6-c186-26aa-ccd098a61f7e
* Content: [Use OData query operations in SharePoint REST requests](https://docs.microsoft.c

[2020-01-14 09:12] OliverZeiser opened #5131 "Theme tokens in SCSS files in SPFx 1.10.0 don't work anymore"
#### Category
- [ ] Question
- [ ] Typo
- [X] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior
Theme tokens like this one `border-color: "[theme: themePrimary, default: #0078d7]";` in our scss files should work as documented here: https://docs.microsoft.com/en-us/sharepoint/dev/spfx/use-theme-colors-in-your-customizations

#### Observed Behavior
Theme tokens for css property bo

[2020-01-14 09:57] OliverZeiser commented on #5131
As an additional info:
I just tested some more using 1.10.0-plusbeta...

The generated css in the .js file in the bundle has an entry like this for border-color that somehow gets duplicated and an additional currentcolor added:

`border-color:currentcolor "[theme: themePrimary, default: #0078d7]" "[theme: themePrimary, default: #0078d7]";`

where as for background-color it looks correct like this:

[2020-01-14 10:11] rayhogan commented on #4892
@lahuey - Disabling the browser cache has no impact. I've tested every possible scenario for the past week and the only thing that gets it working again is changing this setting back to yes:
![image](https://user-images.githubusercontent.com/769565/72334800-d6444400-36b5-11ea-8f1c-c2649509b2b4.png)

When it is set to yes, I can see through Fiddler and the browser's Network tab that there are no x-

[2020-01-14 10:33] jklevel commented on #3396
Any news on this issue?

[2020-01-14 10:44] andrewconnell commented on #5128
Doc bug... I thought I had fixed that last week... will get the doc updated. Thanks!

[2020-01-14 10:44] #5130 closed

[2020-01-14 10:49] andrewconnell commented on #5127
The sample after the section you quote shows how it should be used. You don't pass the `odata.type`, rather it's just `type` as a property of the `__metadata` object.

It's included in the object submitted in the body of the request, like this:

[code]

[2020-01-14 10:50] #5042 closed

[2020-01-14 10:56] andrewconnell commented on #5131
I can repro this... I agree, this does look like an issue in the build @patmill @johnguy0

[2020-01-14 10:57] maskati commented on #4892
For us this issue manifests when loading an SPFx tab in Teams as described in #5116. The root cause seems to be that the SharePoint token acquisition logic relies on loading `spfxsinglesignon.aspx` from SharePoint within a Teams application iframe. This fails because `spfxsinglesignon.aspx` usually (not always) returns `X-Frame-Options = SAMEORIGIN` header, and as a result the iframe loading is bl

[2020-01-14 11:10] rayhogan commented on #4892
Actually, disabling cache does cause it work:
![image](https://user-images.githubusercontent.com/769565/72339556-625a6980-36be-11ea-9bb4-35204bcda1f7.png)

But this isn't a solution as our customers access to dev tools is blocked by policy.

[2020-01-14 13:11] ValerasNarbutas commented on #3200
Same for me

[2020-01-14 13:13] FlorianLabranche commented on #4892
@maskati @rayhogan
I'm also concerned about what your saying but could you track the issue you're describing in another ticket as it's not directly related to the original post and leave this thread to track down update about the getToken() issue and fix ?

I'm pretty sure it will also help the dev team to track your issue more efficiently.

[2020-01-14 13:53] maskati commented on #4892
I would say #5116 could be the correct issue, however it was closed it as a duplicate of this.

[2020-01-14 14:08] rayhogan commented on #4892
@maskati / @FlorianLabranche  - Yes I had an issue opened but it was closed as this ticket was considered to be a duplicate, but I also think that, while the errors are the same, the root cause is different so it could potentially warrant a separate ticket.

[2020-01-14 14:09] VesaJuvonen commented on #5131
Ack - we'll have a closer look on this.

[2020-01-14 14:47] FlorianLabranche commented on #4892
Ok.
As you said, your token renewal issue seems related to the AAD settings and X-FRAME option. But it could also be related to the one on this thread.

Let's see what the gurus say !

[2020-01-14 16:00] #5065 closed

[2020-01-14 18:15] joselarios commented on #4915
This issue still persists. We have followed the advice of @muradhaider5, i.e. configuring the web part to NOT be hosted in an isolated domain, but we are still receiving the same error.

Of note, we have created a demo O365 tenant to test further and found the following:

- When logging into the Teams Desktop client with the demo's MOD Administrator, the teams tab loads without error
- For other u

[2020-01-14 18:36] ashleywb opened #5133 "Asynchronous Metadata Read for Permissions"
Do you know when the below will be released? Is there anyway I can subscribe to updates for this feature?
" Permissions are expected to be covered in a subsequent version."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1654a603-da1f-b11b-fd2f-9aa20e9fac02
* Version Independent ID: e8453081-caea-ee38-137d-3cfe2c145f45

[2020-01-14 21:15] JakeStanger commented on #5131
It is perhaps worth mentioning that setting the color for the side *does* seem to work:

[code]

And also that the shorthand seemingly does not (I have not investigated whereabouts this seems to go wrong):

[code]

[2020-01-14 21:31] yadavalli1 commented on #2664
Still an issue if its a large list

[2020-01-14 21:37] matthong commented on #4657
We are having the same issue with Site Collection App catalog.

[2020-01-14 22:18] #5128 closed

[2020-01-14 22:22] bealsao commented on #4892
@rayhogan I am seeing this exact same issue except my "user consent" option is enabled. This was working in December and stopped working in January if that helps narrow down what might have changed. Also my code base hasnt changed since November.

I can also confirm disabling the cache resolves this issue but isn't a scalable solution.

[2020-01-14 22:52] lahuey commented on #4892
@rayhogan @bealsao could you email me the tenant url and sprequestguid from the "same origin" aspx page request? I haven't been able to repro this issue, but a look into the logs would really help!

My email is lahuey@microsoft.com

[2020-01-14 22:59] bealsao commented on #4892
@lahuey It's my dev tenant so Im happy to give you a login and let you see the problem in action if you'd prefer. I'll send you an email with the Tenant URL and if you want a login to reproduce the behavior reply to my email and let me know.

[2020-01-15 06:29] maskati commented on #4892
@lahuey you can reproduce this by calling **spfxsinglesignon.aspx** in any tenant (the page does not require authentication). See my earlier [message](https://github.com/SharePoint/sp-dev-docs/issues/4892#issuecomment-574119092)

Here you can see that without the **Cache-Control: nocache** request header, 9/10 responses returned the **X-Frame-Options** response header, and by disabling cache no re

[2020-01-15 11:57] Ballzer0 opened #5140 "isDomainIsolated: true causes x-frame-options error"
If i follow these steps but leave **isDomainIsolated: true** in the  **package-solution.json, it will cause an error saying:

**Refused to display 'https://myorg-app.sharepoint.com/_forms/spfxsinglesignon.aspx... ... ...' in a frame because it set 'X-Frame-Options' to 'sameorigin'.**

This only happens if i have logged in with 2 diffcerent AAD accounts in the same webbrowser. So it looks like its

[2020-01-15 12:00] Ballzer0 commented on #5026
it does not seem to work to request access to Dynamics CRM like this.
{
        "resource": "Dynamics CRM",
        "scope": "user_impersonation"
 }

Had to manually add this on the registered app in azure AD

[2020-01-15 12:16] #4274 closed

[2020-01-15 16:51] Laul0 opened #5143 "No more sticky footer with big Mega Menu"
#### Category
- [ ] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

That is a good question. Maybe two different behaviors:

1. The Mega Menu can support more than four columns
2. Page/Footer adapt with the height of the page

#### Observed Behavior

If the Mega Menu height is bigger than the window size and you scroll down, the footer is not stuck a

[2020-01-15 17:04] Laul0 opened #5144 "SharePoint links language display"
#### Category
- [ ] Question
- [x] Typo
- [x] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

If the site is in different language from the user settings, all links have to be in the same language.

#### Observed Behavior

All the native links are not in accordance with the language settings:

![Screen Shot 2020-01-15 at 11 56 40](https://user-images.githubusercontent.com/152

[2020-01-15 17:06] toblum opened #5145 "PnPPowershell using "Add-PnPFile" using app-only permissions."
#### Category
- [ ] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

When using PnP Powershell with application permissions (and authentication using certificate) adding a file to a document library using Add-PnpFile should work without error if "Sites.ReadWrite.All" permissions are given and consented.

#### Observed Behavior

In the described setup

[2020-01-15 18:25] michelcarlo commented on #4892
I'm having the same issue and debug outputs with domain isolated webparts as a SharePoint app page. Weirdly it works on Edge, but not on Chrome.

[2020-01-15 18:43] #5144 closed

[2020-01-15 18:44] #5143 closed

[2020-01-15 18:56] andrewconnell commented on #5140
There's a very active issue #4892 that mentions this header value. MSFT, in a comment on that issue, has ack that there's a race condition when obtaining an access token from AzureAD that appears to be impacting a few things.

I believe your issue is directly related to that issue... which means this is a dupe. We try to keep issues/bugs consolidated into a single issue for tracking so we'll flag

[2020-01-15 18:56] #5140 closed

[2020-01-15 18:58] andrewconnell commented on #5052
Have you verified the file is present in the CDN and accessible by everyone?

Have you isolated it to specific users, browsers, environments?

Do you have any special content restrictions on the CDN? For the users having issues, have you had them try to load the file directly using the URL to verify they can access it? Because it's a client-side request, if they can access it directly via the brow

[2020-01-15 19:08] andrewconnell commented on #5049
Node 12 is not supported at the present time. The update to the doc was done by mistake. The current published version of the doc is correct.

[2020-01-15 19:16] andrewconnell commented on #3737
Agreed... care to submit a PR fixing the code sample and cleaning up the code formatting?

[2020-01-15 19:30] daBuenoTaco opened #5146 "Example Links are Dead"
#### Category
- [ ] Question
- [X ] Typo
- [ ] Bug
- [ ] Additional article idea

Page:  https://docs.microsoft.com/en-us/sharepoint/dev/general-development/using-the-sharepoint-search-query-apis

All of the Corey Roth links are dead.

Example:  Corey Roth: SharePoint: Query Search with the Managed Client Object Model.
Link:  https://code.msdn.microsoft.com/Query-Search-with-the-649f1bc1

[2020-01-15 19:55] ahamedfazil commented on #5052
Yes, the file is available in CDN and the user can access it directly using the CDN url.
Actually this issue not only happens to Azure CDN but also publiccdn (I have some other webparts in the page which doesn't have any content in Azure CDN).

After page refresh by a user, everything looks fine (all webparts load perfectly). This mostly happens when the users opens the site for the first time of

[2020-01-15 19:58] weshackett commented on #3606
The thing that seems to be 100% of a fix is to do all the steps from the Office 365 CLI upgrade report, delete the node modules folder, then npm install. then gulp build will fail. So then do npm i gulp and refresh your gulp and it all works from then on

[2020-01-15 20:30] lahuey commented on #4892
@maskati thank you for detailed response. It's quite strange that this ASPX page is only returning the correct response sometimes. I'll update the thread when I have more details/proposed fix.

[2020-01-15 23:00] #5101 closed

[2020-01-15 23:08] ahemavathy opened #5147 "Create Site not working"
I noticed that the create site does not work when I pass in STS#3 when I try to create a team site. Also the Topic value should be "96c933ac-3698-44c7-9f4a-5fd17d71af9e" not NULL

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26b24cbb-892e-8e39-8a24-ad5997cae065
* Version Independent ID: b643463a-91b8-3230-e314-6522f35

[2020-01-16 01:46] Dennis-LZ commented on #5146
As the [MSDN Code Gallery has officially retired](https://docs.microsoft.com/en-us/teamblog/msdn-code-gallery-retired), we can find the solution from the GitHub here:

[SharePoint 2013: Query Search with the Managed Client Object Model](https://github.com/microsoftarchive/msdn-code-gallery-community-s-z/tree/master/SharePoint%202013%20Query%20Search%20with%20the%20Managed%20Client%20Object%20Model

[2020-01-16 05:07] furler commented on #1161
Is there any update on this or any more information? It's in the specs that "background-image" is allowed, but what's the point if you can't do it because ( ) isn't allowed in style? It's especially weird that rgba() background colors are allowed.

[2020-01-16 07:39] MortenGuldbaek opened #5148 "🐞 Syncing Web parts with too long names to Teams fails silently (or not verbose enough) with a 400 bad request"
#### Category
- [ ] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

1. Building a SharePoint Framework package containing multiple web parts (no other types of components).
2. One or more web parts have a 'long' name.
3. Building, bundling, packaging and uploading to Tenant app catalog as we have done 1000 times before.
4. Clicking 'yes' to tenant wi

[2020-01-16 09:29] OS-Lee commented on #5147
Hi,

Did test while can't reproduce, what's your request body?
My Test result with Fiddler,
![image](https://user-images.githubusercontent.com/40845109/72510560-9e3f2b80-3884-11ea-8993-93bccf31d994.png)

Showcase site design.

![image](https://user-images.githubusercontent.com/40845109/72511005-608ed280-3885-11ea-8c08-cd0ba3347f5f.png)

![image](https://user-images.githubusercontent.com/40845109/7

[2020-01-16 10:13] JBPuzzled commented on #2361
Hi @nozhT & @MarinoValentino,

I'm curious about point 1 as well. I was not able to find the answer yet.

Kind regards

[2020-01-16 10:21] nozhT commented on #2361
Me neither.

[2020-01-16 11:35] andrewconnell commented on #5052
OK... so it's not an issue with accessing the file... sounds like things work once the file has been cached on the user's machine.

Is it your web part bundle that's not loading, or a dependency?

In your OP it looks like it might be jquery... is that correct, or is it all JS files (including the component bundle)? If it's the dependencies, how are you loading them in your component? Do you have t

[2020-01-16 11:39] andrewconnell opened #5149 "Content rendering bug - tables not correctly rendered"
Markdown issue with last build... #content-bug

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e5a8f160-c2fd-8692-1c3f-2c5c44c7a286
* Version Independent ID: 2d7064f8-409c-4465-3fbb-bd6a4c2806f5
* Content: [Working with lists and list items with REST](https://docs.microsoft.com/en-us/sharepoint/dev/sp-add-ins/working-wi

[2020-01-16 14:24] Languafe opened #5152 "Why isn't the manifest.json file automatically created anymore? (Using SPFx 1.10)"
I just stumbled upon this YouTube video, https://youtu.be/4kSRmetB4vA, from 2018 where seemingly the manifest.json is automatically created with the rest of the project. This was in 1.7. What happened?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10039675-218b-bd24-3b48-c95becf367fa
* Version Independent ID: 4186095d

[2020-01-16 14:30] pk091990 commented on #2228
Hi @bpringe
Could you please help me how to get the Bearer token in the request header of the request made by the msGraphClient or share any link for the reference. Thanks !

[2020-01-16 14:34] #5149 closed

[2020-01-16 14:36] andrewconnell commented on #5152
The manifest is generated on the fly when the package is deployed to Microsoft Teams using the **Sync to Teams** button in the app catalog. This is a preferred option because any changes to your SPFx component (like the name) is automatically picked up without having to remember all the places to update it, including the **manifest.json**.

If there is already a **manifest.json** in the folder, th

[2020-01-16 14:37] #5152 closed

[2020-01-16 14:39] ahamedfazil commented on #5052
This issue also happens for other webparts which doesn't have any dependency. Ya, you are right I was referring to jquery and its referred in config/config.json -> "externals". The below attached screenshot is from another webpart. It seems webpart bundle itself not loading
![somethingwentwr](https://user-images.githubusercontent.com/21005625/72533890-34b82080-3876-11ea-8cbb-e157ffd5ce0d.png)

[2020-01-16 14:45] wildebaard opened #5154 "Link update"
The link to 'SharePoint 2010 and web templates' in the 'See also' section should be updated to:
https://docs.microsoft.com/archive/blogs/vesku/sharepoint-2010-and-web-templates

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d260574-2e52-61cf-bd83-dfa10699c8c8
* Version Independent ID: 6947088a-5b8c-b58b-617f-c3e0f3686

[2020-01-16 16:58] ahamedfazil commented on #5052
Also we noticed this happens to the user in particular geo location.

[2020-01-16 17:23] narrowhouse commented on #4744
We have a customer that has seen what appears to be throttling from ~3 people uploading 3-6 documents at a time, through the interface, all day long.  When they called us about the problem I went to their site and was met with "The server is busy now. Try again later"

This is with no migration tools, no automated uploads, just a few people putting documents in a list.
![example](https://user-imag

[2020-01-16 17:40] bpringe commented on #2228
@pk091990 You should be able to look at the headers of the request after it's made in the Network tab of Chrome dev tools. There you should find the token. However what I did above was, if I remember correctly, just for demonstration purposes of the issue. It's not a fix.

[2020-01-16 18:41] ashleywb commented on #4141
Any news on this?

[2020-01-16 20:32] andrewconnell commented on #5052
Being no one else is reporting CDN issues like this, I'd open a ticket within your M365 portal. You say this happens to users in specific geo... that sounds like there are networking/connectivity issues there.

[2020-01-16 20:33] andrewconnell commented on #5154
Easy fix... want to submit a PR yourself?

[2020-01-16 21:02] andrewconnell commented on #5148
Interesting find... not sure if I'd call this a bug as a SharePoint web part can have a name that's longer than 30 characters. The Teams manifest file is created dynamically if it's not present when you hit **Sync to Teams**.

It would be nice if when **Sync to Teams** fails, it would provide more detail (long-running request).

The JSON schema for the web part manifest could include this as some

[2020-01-16 21:10] rogercodes1 commented on #2452
Having the same problem

[2020-01-16 21:21] rogercodes1 commented on #3071
How do I upgrade/update it to that version?

[2020-01-16 22:28] andrewconnell commented on #5148
Following up... eng aware...

[2020-01-16 22:40] dantman commented on #2155
Was this issue ever revisited and solved? It's the first thing that comes up in Google when you look for "yeoman edit package.json", instead of any information on how to do so.

[2020-01-16 23:47] AJIXuMuK commented on #2155
@dantman this issue was mostly related to SharePoint Yeoman generator in context of creation [PnP Yeoman Generator](https://github.com/pnp/generator-spfx).
And we used approach similar to the one described above as a workaround:
[code]

[2020-01-17 05:10] pk091990 commented on #2228
Hi @bpringe , your solution I've checked by hardcoded (get from console only) that token in my fetch request, but I want was to retrieve that token run time in my solution. Although for that i need to hit 2 calls but I'm not able to create the url and format it using one get call only.

[2020-01-17 07:55] YanYi2017 opened #5155 "Are there some methods to listen to the view change?"
#### Category
- [x] Question
- [ ] Typo
- [ ] Bug
- [ ] Additional article idea

Hi there. I am developing an app, which need to listen to the view change. I have read ["Handle events in SharePoint Add-ins"](https://docs.microsoft.com/en-us/sharepoint/dev/sp-add-ins/handle-events-in-sharepoint-add-ins), but I found there are no events like `ListUpdating` and `ListUpdated`(as I know, view is belong

[2020-01-17 08:23] Rus7am commented on #3042
Still exists in SPFx 1.10.0

[2020-01-17 10:21] #4855 closed

[2020-01-17 11:00] #5127 closed

[2020-01-17 11:50] bdv1234 opened #5157 "cannot access specific team site using share-point REST APIs"
#### Category
- [x] Question
- [ ] Typo
- [ ] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

When calling REST endpoint for creating a folder in custom team site , it should be created.
response code should be 201.

#### Observed Behavior

When I called the REST endpoint I got 403 Forbidden with Access denied error message.

#### Steps to Reproduce

I have register a share-p

[2020-01-17 11:53] FrankMuraschow opened #5158 "Custom manifest.json is ignored when using "Sync to Teams" inside the app catalog"
#### Category
- [x] Question
- [ ] Typo
- [ ] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior
According to the answer given by  @andrewconnell in #5152 the manually created manifest.json should be used when syncing the SPFX app to Teams.

#### Observed Behavior
It seems the default manifest is still being used.

#### Steps to Reproduce
1. Upload a SPFX webpart with a custom ma

[2020-01-17 12:14] hassanamjad89 commented on #4808
I am facing the same issue. In my case drag & drop was working fine in SPFx 1.9.1 but when I upgraded to SPFx 10.0, it stopped working.

[2020-01-17 12:19] #5154 closed

[2020-01-17 12:38] SteIvanov opened #5159 "Question about the Bing Maps key"
Hello team,
Is it possible to set one particular Bing Maps key to be applicable on SPO tenant level e.g. to use the same Bing Maps key for ALL site collections inside the tenant or it is only possible to use one Bing Maps key per site collection? I would be very thankful for a fast reply.
Thanks in advance! :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microso

[2020-01-17 14:53] andrewconnell commented on #5159
You can use tenant properties to achieve this: https://docs.microsoft.com/sharepoint/dev/spfx/tenant-properties

[2020-01-17 14:54] #5159 closed

[2020-01-17 15:02] andrewconnell commented on #5157
First, there's more info in your SO post that you shared here... please pick one place to post the question. The two posts are a bit conflicting so it's hard to tell where you are on this.

In the SO post, it appears you created two apps... one using AppRegNew & one using the Azure AD admin center. Those are TWO DIFFERENT APPS, not the same app.

403 means you you don't have permissions to the res

[2020-01-17 15:04] andrewconnell commented on #5155
No, there are no events exposed with a list is updated.

[2020-01-17 15:04] #5155 closed

[2020-01-17 15:47] bpringe commented on #2228
@pk091990 Sorry, I've been out of the SharePoint world for quite some time now so I can't easily try things to help you out. Hope you manage to find something that works for you, though!

[2020-01-17 16:40] VesaJuvonen commented on #3071
@rogercodes1  - closed issues are closed issues, so not recommended to add questions and comments in these. In short - install latest SharePoint Framework version and choose SP2019 as your target environment when getting asked about that - that will create the solution structure with the right setup for SP2019.

Locking the issue to avoid further comments on this. If there's any other questions, p

[2020-01-17 17:34] MarkStokes-outlook opened #5161 "Recommended JSON isn't valid to the Schema"
Maybe I am wrong on this, but when I add the latest schema to my Site Script JSON files I get errors in Visual Studio Code.

{
    "$schema": "https://developer.microsoft.com/json-schemas/sp/site-design-script-actions.schema.json",
    "actions": [
        {
            "verb": "createSiteColumnXml",
            "schemaXml": "&lt;Field Type=\"Text\" DisplayName=\"Document UID\" Group=\"CDMS\" Requ

[2020-01-17 20:09] ajashish7 commented on #5026
I am seeing HTTP 400 while approving web API request in admin center. What might be causing this?

[2020-01-17 20:22] aporevop opened #5163 "REST endpoint is not working"
The provided REST endpoint is not working. The response is 404 Not found.
Also some more information is needed here:
1) Method of request
2) Authentication
3) Response
4) Is the CreateMigrationJob method supported also

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3bfe80-38e3-e49a-dd94-c2851264dfce
* Version Indepen

[2020-01-17 21:41] JarbasHorst commented on #5161
Hello @MarkStokes-outlook ,
the schemaXml property contains an invalid value since you have to escape the quotas first. Consider adding one backslash (\\) in front of quotes. I've edited and tested your Site Script. This is how it looks:

[code]

[2020-01-18 02:48] gaikwaduc opened #5164 "SPFx 1.10.0, msGraphClient, SharePoint Full Page as a Tab in MS Teams doesn’t work."
#### Category
- [ ] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

msGraphClient calls should work when we add SharePoint Page as a Tab in Ms Teams.

#### Observed Behavior

When we access SharePoint page (having SPFx 1.10.0 and msGraphClient calls) outside the Teams, it works as expected. However, when we add the same page as a Tab in Ms Teams it d

[2020-01-18 07:19] bdv1234 commented on #5157
@andrewconnell sorry If I'm being confused you here.
so as you mentioned I plugged my token into jwt.io and I got following payload data.

  "aud": "00000003-0000-0ff1-ce00-000000000000/awsconnector100.sharepoint.com@cc0588dd-6b7f-423f-8546-7778667239d6",
  "iss": "00000001-0000-0000-c000-000000000000@cc0588dd-6b7f-423f-8546-7778667239d6",
  "iat": 1579330613,
  "nbf": 1579330613,
  "exp": 1579359

[2020-01-18 10:29] andrewconnell opened #5165 "Content formatting bug"
This page has numerous content formatting issues.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3b3bfe80-38e3-e49a-dd94-c2851264dfce
* Version Independent ID: 8796c402-cd21-a86b-99f0-d0bd035ceb5f
* Content: [SharePoint Online Import Migration API](https://docs.microsoft.com/en-us/sharepoint/dev/apis/migration-api-over

[2020-01-18 11:02] #5165 closed

[2020-01-18 11:04] andrewconnell commented on #5164
Believe this is a dupe of #4892 which is ack'd as a known bug from MSFT & they are working on it. As such, I'll close this issue as a dupe as we try to consolidate related issues to a single instance.

[2020-01-18 11:04] #5164 closed

[2020-01-18 12:50] andrewconnell commented on #3737
@mariusRT & @SaSapalan Instead of listing specific line changes, can you either submit a PR or post what you think the code final code should look like? These piece-mail edits in comments are not easy to follow...

[2020-01-18 13:47] #4249 closed

[2020-01-18 13:47] #2087 closed

[2020-01-18 13:47] #2116 closed

[2020-01-18 13:47] #2227 closed

[2020-01-18 13:47] #2264 closed

[2020-01-18 17:57] rayhogan commented on #4892
We opened a premium support ticket with MS. They have since acknowledged the issue and have supposedly rolled out a fix to all tenants. I have confirmed it now works on our environments.

[2020-01-19 01:16] rpskumar opened #5170 "How to avoid stuttering effect in SP online page render"
#### Category
- [ x] Question
- [ ] Typo
- [ ] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

Reserve corresponding space for asynchronously rendering media or visual elements to avoid skipped frames and stuttering (also known as jank).

#### Observed Behavior
My Communication site Home page has 2 sections layout.

Section 1 layout is full width style with 1 custom App to di

[2020-01-19 03:29] nigel-dewar commented on #1414
So I read all this but what is actually the fix?

[2020-01-19 05:55] Phoebe-0319 opened #5171 "Uncaught SyntaxError: Identifier 'Fabric' has already been declared" in CodePen"
When I click Export to CodePen and find an error "Uncaught SyntaxError: Identifier 'Fabric' has already been declared" in https://codepen.io/pen/. Detailed images are shown as follows.
![image](https://user-images.githubusercontent.com/60056296/72675700-3d516680-3ac3-11ea-9915-71f7469cc75a.png)

![image](https://user-images.githubusercontent.com/60056296/72675688-12671280-3ac3-11ea-9a10-38fca58f5e

[2020-01-19 10:21] #5171 closed

[2020-01-19 21:00] #5052 closed

[2020-01-19 23:01] bealsao commented on #4892
Can confirm its working for me.

[2020-01-20 00:38] StfBauer opened #5173 "🐞❓Missing copy-static-assets.json shema"
#### Category
- [x] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior
In an SPFx solution to copy static assets in the config folder, a file named copy-static-assets.json can be stored that includes file extension to get copied automatically to the lib folder.

The definition in this file should also have a schema definition available.

#### Observed Be

[2020-01-20 01:44] ikmoss opened #5174 "Column formatting @currentWeb doesn't resolve as AsoluteWebUrl"
#### Category
- [ ] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior
@currentWeb should be resolved as AbsoluteWebUrl in column formatting

#### Observed Behavior
"@currentWeb + '/SitePages/testpage.aspx'"
transform to
https://testspsite.sharepoint.com/sites/testsite/documentlibrary/forms/@currentWeb/SitePages/testpage.aspx
instead of
https://testspsit

[2020-01-20 03:57] ozie02 opened #5175 "Consume aadHttpClientFactory.getClient response code 200 but no data fetched"
#### Category
- [ ] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior
I have created an extension that consists of child components and a webpart to make a call to an Azure function that has authentication enabled which would return data in the response after successfully authenticating.

#### Observed Behavior

The webpart returns data after successful

[2020-01-20 04:09] petersgiles commented on #2121
I'm facing this issue

[2020-01-20 05:08] SaSapalan commented on #3737
I have PR created. But it gives me option only to 'Close and Comment'.

The modified code should be like this

Change 1
+++++++++++++++
Original
// File object.
            Microsoft.SharePoint.Client.File uploadFile

Modified
// File object.
            Microsoft.SharePoint.Client.File uploadFile = null;

Change 2 (need to remove the line)
++++++++++
Original:
// Get a reference to your file.

[2020-01-20 07:40] VesaJuvonen commented on #2121
@peterjkrebs - this issue has been closed, so if you have any similar issues, please do open a new issue with the requested details, so that we can help you with it. Thx.

[2020-01-20 09:29] petersgiles opened #5177 "Consume the Microsoft Graph in the SharePoint Framework tutorial errors"
#### Category
- [ ] Question
- [ ] Typo
- [X] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

To complete this tutorial successfully https://docs.microsoft.com/en-us/sharepoint/dev/spfx/use-aad-tutorial

#### Observed Behavior

query any /groups or /me/memberOf

The method of approving API Permissions in sharepoint is not clearly documented or linked to.

Further when you fin

[2020-01-20 10:33] andrewconnell commented on #3737
@SaSapalan said:

That's because you don't have permissions to directly edit the docs. A PR says "I've made some edits... I'm requesting your pull these changes into the repo". Please also see my comment and how I edited your PR

[2020-01-20 10:33] #3737 closed

[2020-01-20 10:44] andrewconnell commented on #5177
Site administrator is not going to be enough to approve permissions... you must be a tenant administrator to grant permissions. Granted permissions apply to the entire tenant, not to a specific site, which is why simply being a site administrator is not enough.

[2020-01-20 10:46] petersgiles commented on #5177
@andrewconnell yep I’m that too

[2020-01-20 10:48] andrewconnell commented on #5175
Do the two work if they are not on the page at the same time? Asking because there's a known issue (#4892) where a race condition is present... a fix is being worked on.

[2020-01-20 10:58] andrewconnell commented on #5177
@petersgiles said:

The docs for managing API requests can be found here: https://docs.microsoft.com/sharepoint/dev/spfx/use-aadhttpclient#manage-permission-requests

Have you tried to grant the permission request using the [PowerShell](https://www.google.com/search?q=SPOTenantServicePrincipalPermissionGrant) / [O365 CLI option](https://pnp.github.io/office365-cli/cmd/spo/serviceprincipal/servicep

[2020-01-20 11:05] andrewconnell commented on #5157
When you created the app using AppRegNew, you are creating it for that site collection, not for multiple sites. Therefore the error makes sense as the access token is for one site (the one where it works), while it won't work on the other site (why you get a 403).

AppRegNew is more of the "legacy" or old way of creating apps... the recommended approach is to create the app in Azure AD, grant it t

[2020-01-20 12:37] bdv1234 commented on #5157
@andrewconnell ,
thank you for your reply.
As per your suggestion I have decided to go with Graph sdk.

[2020-01-20 13:16] #5157 closed

[2020-01-20 13:18] merlinko637 opened #5178 "Tenant wide deployment of extensions on SP 2019"
Hello, is there any was to achieve this also on SP 2019? It works for webparts, but not for extensions. I created an Application customizer for injecting css file, to create custom styling for SP sites. I need to have this working also on subsites that will be created later, so we dont want the user to install it manually. Is there a chance to achieve this?

---
#### Document Details

⚠ *Do not ed

[2020-01-20 14:17] andrewconnell commented on #5178
No, not like this capability in SharePoint Online.

You can use PowerShell to enumerate through all site collections and install the app to the desired site collections.

@merlinko637 said:

Unfortunately, the only option is what I mentioned above. You can set up a scheduled process to check for new site collections and install the app via PowerShell.

[2020-01-20 15:40] PetarSam opened #5179 "Is it possible to set STS#2 as WebTemplate value?"
#4880 ## Category
- [x] Question

Hi dear people of Sharepoint,

I am trying to set Flow which as a result creates a new SharePoint site
with "Send an HTTP request to Sharepoint".

https://docs.microsoft.com/en-us/sharepoint/dev/apis/site-creation-rest was used as inspiration and everything works well except template which site is build upon.

I would like to set it as STS#2 but API call gets decl

[2020-01-20 16:39] ozie02 commented on #5175
That a good point, I removed the webpart from the page and had the extension all alone but unfortunately, I still had the same issue.

[2020-01-20 19:01] andrewconnell commented on #5179
No... the endpoint you are using is for creating *modern* sites, not *classic* sites. The template you are trying to use (STS#2, a Document Workspace) is a classic site template, not a modern site template.

[2020-01-20 19:02] #5179 closed

[2020-01-20 19:04] andrewconnell commented on #5170
At this time, only SPFx extensions have the native ability to preallocate space to avoid a page reflow. Web parts don't have this capability.

REF: https://docs.microsoft.com/en-us/sharepoint/dev/spfx/extensions/basics/preallocated-space-placeholders

[2020-01-20 22:02] petersgiles commented on #5177
I tried with

[code]
and got Error: Insufficient privileges to complete the operation.

While running this command I was a Global Admin of our entire 365 platform. I don't know what you mean by Tennant Admin there is not option in the 365 Admin tools to grant me anything called Tennant Admin.

I have tried connecting using the Sharepoint Online Management Shell again I couldn't connect.

[2020-01-21 00:29] clarktozer opened #5180 "Sass build - path alias configuration"
#### Category
- [x] Question
- [ ] Typo
- [ ] Bug
- [ ] Additional article idea

Is it possible to add path aliases to the sass builder so I can avoid having very long relative paths?
Tilde in SPFx scss files is relative to node_modules.

For example
`../../../../../common/mixins/animations.module.scss`
Could become
`~common/mixins/animations.module.scss`

[2020-01-21 01:35] rpskumar commented on #5170
Thank you @andrewconnell . SPFx extension preallocate space only in top placeholder and bottom placeholder.
I have implemented PnP caching for 1st section web part list items which helps in page refresh and navigate back to home page again.
Is there any other solutions when Section 1 web parts take longer time than section 2 web parts, such as Defining execution order of web parts , dependency loa

[2020-01-21 03:13] sebastienlevert commented on #5103
It's resolved on Targeted Release for me also. I agree with you @tdwhite0, this should be seemless and we should not see the flickering effect (or how @patmill likes to say, the rabbit on caffeine). This is still beta / early code, let's hope it gets better for GA!

[2020-01-21 08:15] Jerry0527 commented on #5129
If you want to query files in specific folder path, please use this endpoint:

/_api/web/GetFolderByServerRelativeUrl("<serverRelativeFolderUrl>")/files

[Working with folders and files with REST](https://docs.microsoft.com/en-us/sharepoint/dev/sp-add-ins/working-with-folders-and-files-with-rest)

[2020-01-21 09:07] gbminnock commented on #3939
@andrewconnell Hi Andrew any movement on this one?
Thanks

[2020-01-21 09:08] PetarSam opened #5183 "How to create site with STS#2 template programmaticlly?"
#### Category
- [x] Question
- [ ] Typo
- [ ] Bug
- [ ] Additional article idea

First of all thank you for the fast answer for previous question, this time I am interested if it is possible and how to create an STS#2 type of site with an API call?

Thank you!

[2020-01-21 09:59] n00el commented on #729
It's brilliant how they burying they head in the sand ... SPFX 2019, the problem is still there in 2020, and it's a nightmare. Thanks sharepoint team.

[2020-01-21 10:03] VesaJuvonen commented on #729
@n00el  - as this issue is closed, it's not unfortunately visible in any internal systems, which makes us really hard to help you. If this is still an issue for you, can you please open up a new issue, so that we can help you to resolve this. Thanks for the details advance.

Happy to not to bury anything on the sand, but we need to be aware of the issues, so that we can help, so looking forward on

[2020-01-21 10:17] SuleymanA commented on #4892
I can confirm the same as @rayhogan. We also created a support ticket. They said it was due to a invalid refresh token. It is now fixed in our tenant as well.

[2020-01-21 11:18] andrewconnell commented on #3939
@gbminnock I don't have any more visibility into items than you would :)... MSFT marked this as **status:tracked** which means it's in their internal backlog. I don't have anything else to share.

[2020-01-21 11:19] andrewconnell commented on #5170
@rpskumar said:

Nothing provided by SPFx... there may be some patterns people have employed, but there's nothing official like the placeholder's preallocated space capability.

[2020-01-21 11:27] andrewconnell commented on #5177
That error indicates the account you're using isn't in the admin role for your tenant. When I said "tenant admin" I meant SharePoint Online global administrator. I see you are saying that in your response, but the error indicates that's not the case.

This will have to get resolved as it appears to be the root cause. When I login to my tenant admin and select a user who's a global admin, here's wh

[2020-01-21 12:23] komzy96 opened #5184 "Cannot approve apps permission on my api management"
im trying to use a webpart i downloaded from github but im having issues with the api management. Can you help resolve this.
![Screenshot (195)](https://user-images.githubusercontent.com/48515129/72804643-204a9e00-3c51-11ea-863b-945dd93f42bf.png)

[2020-01-21 12:42] mcgeeky commented on #4970
@andrewconnell @JeremyKelley @VesaJuvonen Can anyone chime in on this issue? This un-announced API change ,with apparently no recourse with Microsoft afterwards, knocks confidence in the SharePoint Online API as a 3rd party developer. I can't image the Azure team changing APIs, let alone without communication.

[2020-01-21 12:59] sinhakislay opened #5185 "Capabilities of PnP for SharePoint Server 2019"
Is there is an easy way to understand what things can be achieved (customized) in SharePoint Server 2019 using PnP and SPFx ?

#### Category
- [x ] Question
- [ ] Typo
- [ ] Bug
- [ ] Additional article idea

Thanks for your contribution! Sharing is caring.

[2020-01-21 14:13] VesaJuvonen commented on #5184
Hi @komzy96, can you share the tenant name using a private message either using LinkedIn, TechCommunity or Twitter, so that we can have a closer look on this. We are getting few of these now, so curious on checking exact details from the server side logs. Thx.

[2020-01-21 14:41] pschaeflein opened #5186 "Thumbnail Url attribute of AppPackage not included in REST response"
#### Category
- [X] Question
- [ ] Typo
- [X] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

An SPFx package is deployed to the tenant app catalog. The entry in the Apps for SharePoint list has a value for the Icon URL property.

![image](https://user-images.githubusercontent.com/8008013/72813846-a81cb200-3c29-11ea-81e6-b63db5632336.png)

Using the List API, the field named

[2020-01-21 14:46] trillian74 opened #5187 "Will this, when i GA, have support for the React Framework"
Or is it just javascript?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d7dc0df-037f-4783-7867-8c34b4ade989
* Version Independent ID: ee99f6b9-246c-216f-7a8e-1472f813a14c
* Content: [Creating Outlook add-ins using SharePoint Framework](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/office-addins-create#feedback

[2020-01-21 15:02] andrewconnell commented on #5187
This feature is in dev preview... no timeline for GA has been shared at this time.

[2020-01-21 15:02] #5187 closed

[2020-01-21 15:04] andrewconnell commented on #5180
That would be considered a feature request which should be posted to SP Dev UserVoice. But you may also be able [to leverage webpack](https://spblog.net/post/2019/02/05/sharepoint-framework-development-tips-prettify-your-imports) here (but not sure if it would apply to SASS resolutions)

[2020-01-21 15:04] #5180 closed

[2020-01-21 15:08] komzy96 commented on #5184
Can I share the tenant here via mail or kindly share your linkedin profile.
Warm regards

On Tue, Jan 21, 2020, 3:13 PM Vesa Juvonen <notifications@github.com> wrote:

[2020-01-21 15:09] komzy96 commented on #5184
Or your Twitter handle I'll be willing to share any information you want

Kind Regards.

On Tue, Jan 21, 2020, 4:08 PM ekomobong willie <komzy96@gmail.com> wrote:

[2020-01-21 15:10] VesaJuvonen commented on #5184
@komzy96  - LinkedIn profile would be following - https://www.linkedin.com/in/vesajuvonen/ - most likely easiest. Just send message there. Thx.

[2020-01-21 15:30] komzy96 commented on #5184
Can't send you a message on LinkedIn cause I don't have the premium version.
Can you share your email address?

On Tue, Jan 21, 2020, 4:10 PM Vesa Juvonen <notifications@github.com> wrote:

[2020-01-21 15:32] komzy96 commented on #5184
Although I just connected with you as *Willie ekomobong* please accept the
connection.

On Tue, Jan 21, 2020, 4:30 PM ekomobong willie <komzy96@gmail.com> wrote:

[2020-01-21 15:43] JarbasHorst commented on #5184
It is not the same kind of error, but it would be interesting to see if the error persists when changing the resource from Microsoft Graph to Microsoft.Azure.AgregatorService in the package-solution.json. I've found it in this documentation here: https://docs.microsoft.com/en-us/sharepoint/dev/spfx/use-aad-tutorial#deploy-the-solution-and-grant-permissions

I hope it helps!

[2020-01-21 15:49] komzy96 commented on #5184
Thanks jarbas I'll quickly try this out although the error I'm have is HTTP
500 rather than HTTP 400. I'll update soon on my results.
Kind regards.

On Tue, Jan 21, 2020, 4:43 PM Jarbas Horst <notifications@github.com> wrote:

[2020-01-21 16:12] VesaJuvonen commented on #5184
@komzy96 - my email address is quite obvious considering my first name, last name and the company I work with. You do not though need premium to send messages in LinkedIn as I don't have that either and can do that... but either way.

[2020-01-21 16:27] VesaJuvonen commented on #5184
@komzy96 - was actually able to trace this with the GUID from the pic. Seems like a permission issue. Is the account which you are using tenant administrator as the logs would suggest otherwise, so would double check that first. Can you please confirm this as it helps on the trouble shooting - thx.

[2020-01-21 16:30] komzy96 commented on #5184
The account is just a SharePoint administrator for the tenant but not a
global administrator for the tenant.

On Tue, Jan 21, 2020, 5:27 PM Vesa Juvonen <notifications@github.com> wrote:

[2020-01-21 16:46] andrewconnell commented on #5175
What exactly is the error you're receiving? Use the browser's dev tools & look at the network tab. Find the request that is fetching the data / access token. Look at the raw response... there has to be a response that's got more detail than "failed to fetch data". :)

Also... what is the code doing. Please share the code snippet from the extension where the error is occurring.

[2020-01-21 16:51] VesaJuvonen commented on #5184
and that's the problem in this case. Behind of the scenes you are actually approving tenant admin operations in Azure AD, which then a SharePoint admin account does not have the permissions... as by default that would not be the case. This then throws an ugly exception which we at the Microsoft need to make more informative.

We should actually check that the user who arrives on the API management

[2020-01-21 17:17] VesaJuvonen commented on #5177
We just had a similar report as #5184 and with the same issue. You will need to be a tenant administrator, being a SharePoint administrator is not sufficient. This is absolutely not obvious from our UX and we as Microsoft will need to fix that.

Can you @petersgiles confirm you status on this to validate the assumption. Happy to also double check the situation from server side logs, if you share t

[2020-01-21 17:17] 365Iain opened #5204 "@me not being converted/translated correctly as logged on user"
#### Category
- [ ] Question
- [x] Bug
- [ ] Enhancement

#### Expected or Desired Behavior
@me token in view and column formatting has previously displayed email address of the logged on user and the 'if' condition to set text colour should evaluate to true and therefore display as red text.

Code used for testing:

[code]

#### Observed Behavior
The txtContent is not converting correctly so @me

[2020-01-21 18:50] sympmarc opened #5188 "Can't Group By Content Type with Collapse='TRUE'"
#### Category
- [ ] Question
- [ ] Typo
- [X] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

We'd like to be able to set up view which are grouped by Content Type and are collapsed by default. So we use some JSON like this:

[code]

#### Observed Behavior

The resulting view when we apply the Site Design which reference the Site Script snippet from above is grouped by Conten

[2020-01-21 20:48] kaburkett commented on #1414
@nigel-dewar Since this is just the SharePoint documentation repository there are no 'bugs' only requests to extend documentation or clarity. It seems like the request was closed because no one provided instructions on how the documentation could be clearer.

If you are receiving this same error, the best thing you can do is to ensure Microsoft isn't prompting for more information during the login

[2020-01-21 20:48] petersgiles commented on #5177
@VesaJuvonen yes these are current my roles
![image](https://user-images.githubusercontent.com/1644481/72840280-ff815780-3ce7-11ea-9dd7-ae1708c147c0.png)

here are a couple of fresh correlation ids for you

[HTTP]:400 - [CorrelationId]:8dc02d9f-2030-0000-2e76-94845ae39527 [Version]:16.0.0.19708
[HTTP]:500 - [CorrelationId]:8bc02d9f-c01d-0000-36da-3b4e6542de24 [Version]:16.0.0.19708

However as men

[2020-01-21 23:33] terenceodonoghue commented on #2155
Running into this same issue myself; I'm attempting to compose generators, and the workaround above isn't updating my package.json, or it is but then the changes get overwritten upon file creation.

[2020-01-21 23:40] terenceodonoghue commented on #2155
Came here from Google with the exact same issue; I'm trying to compose generators, and any changes I make to the package.json are getting ignored or overwritten somewhere. The workaround above doesn't appear to work for me.

[2020-01-22 00:36] AJIXuMuK commented on #2155
Please, take a look at the repo I mentioned in my previous comment. It's a "wrapper" generator on top of SharePoint Framework Yeoman generator and it actually modifies package.json that has been generated by sub-generator.

[2020-01-22 00:49] petersgiles commented on #5177
Ok I've had my Roles Upgraded

![image](https://user-images.githubusercontent.com/1644481/72855841-f951a200-3d0c-11ea-9b2e-d7d11bd6b71f.png)

When I use the UX

![image](https://user-images.githubusercontent.com/1644481/72855878-16867080-3d0d-11ea-8b16-67f75ef50a73.png)

And using Sharepoint Powershell

![image](https://user-images.githubusercontent.com/1644481/72855901-28681380-3d0d-11ea-946b-ed9

[2020-01-22 01:48] sahan91 opened #5190 "Typo in "configurulationUrl""
Just a small typo in "configurulationUrl" which should be corrected as "configurationUrl". Cheers

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 10039675-218b-bd24-3b48-c95becf367fa
* Version Independent ID: 4186095d-c6d3-8773-4855-3c5d0e59bfb1
* Content: [Create Microsoft Teams manifest manually for a web part and dep

[2020-01-22 02:44] sps-smith commented on #538
@mpasarin you saved my day. After numerous searches, the cause of the issue was exactly as stated. In my case I am hosting my spfx webpart in Microsoft Teams. Thanks!

[2020-01-22 06:55] paulwillen commented on #4717
I've got the same issue on a dev-tenant. Need some further investigation if it's also an issue on our production tenant, but is there any update on this issue?

[2020-01-22 07:25] ozie02 commented on #5175
That's the problem, I don't see any errors in browser console or the Network tab :)

I have uploaded the complete code on github under as well [https://github.com/ozie02/Learning/tree/master/Extensions/contoso-api-extension](https://github.com/ozie02/Learning/tree/master/Extensions/contoso-api-extension)

**Code Snippet**
[code]

**Screenshot below**
Console Tab
![image](https://user-images.github

[2020-01-22 07:29] mmohamedbasith opened #5191 "No -BlogPage & -PostAsNews available in command 'ConvertTo-PnPClientSidePage'"
While running the script , we receives error ConvertTo-PnPClientSidePage : Cannot bind positional parameters because no names were given.
Please refer below url :  No -BlogPage  &  -PostAsNews  available in  command 'ConvertTo-PnPClientSidePage'
https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/convertto-pnpclientsidepage?view=sharepoint-ps

I have update the lastest Sharepoint pnp

[2020-01-22 07:45] komzy96 commented on #5184
Hello good morning so I told the global admin of my tenant to approve but
it's still giving errors

On Tue, Jan 21, 2020, 5:53 PM ekomobong willie <komzy96@gmail.com> wrote:

[2020-01-22 08:26] komzy96 commented on #5184
Hey vesa you where right. the issue has been fixed. Thanks

[2020-01-22 08:26] #5184 closed

[2020-01-22 08:50] semopz commented on #5174
Same issue here. I think we'll need to wait for someone with premier support to raise an official ticket. Not sure if the SPFx team can do anything about this

[2020-01-22 09:16] #2857 closed

[2020-01-22 10:29] andrewconnell commented on #5175
1. For the second screenshot on the network tab, you see nothing in the **Response** tab?
1. Have you tried taking that access token that is used in the request to a tool like Postman to submit the request outside of SPFx to verify the service is returning data?

[2020-01-22 10:31] #5190 closed

[2020-01-22 10:36] andrewconnell commented on #5191
Probably best to post this to the [PnP PowerShell's repo's](https://github.com/SharePoint/PnP-PowerShell) issue list for the best visibility...

[2020-01-22 10:37] Sturez opened #5193 "Site Design Create Content Type action gives an invalid type error"
#### Category
- [ ] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

**Expected or Desired Behaviour**
The site design script should create a column: "To" and a content type with such column assigned

**Observed Behaviour**
the column is correctly created but when it comes to the content type the following error is raised
![image](https://user-images.githubusercontent.com/23401925/7288

[2020-01-22 13:12] PrasadKasireddy commented on #5174
Related - https://github.com/SharePoint/sp-dev-list-formatting/issues/201 & https://github.com/SharePoint/sp-dev-list-formatting/issues/199

[2020-01-22 13:21] JarbasHorst commented on #5193
Hello @Sturez, I could not reproduce this issue in a new Office 365 group. Are you applying the Site Design to a new or an existing site collection? If it is an existing one, can you try that in a new site collection?

[2020-01-22 13:28] AndyBolam commented on #4968
Hi, any movement on this?  I've been told that changing from Targeted release to Standard in the tenant will resolve, however that doesn't really help me!!

[2020-01-22 14:06] gobigfoot commented on #5183
I'm using this to create a team site no group. I imagine it will work for you by swapping the Template type.

`New-PnPTenantSite -Owner $SharepointAdminUser -StorageQuota 26214400 -Url $SiteUrl -Template "STS#3" -Title $SiteTitle -TimeZone 10 -ErrorAction Stop `

[2020-01-22 14:27] IlBarone opened #5194 "Modern News Part, Grid View not displaying images when fetching news from another site."
#### Category
- [ ] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

Grid View in Modern News Webpart should display the image/header images of the posts when getting news from another site.

This works with other views in the webpart.

#### Observed Behavior

Only getting colored tiles, no images shown.
This is a problem on two client tenants and my

[2020-01-22 14:34] gobigfoot commented on #1201
Issue [#4238](https://github.com/SharePoint/sp-dev-docs/issues/4238) says this is expected behavior and currently it is not possible to get the listId when running as a webpart. I sure hope they come up with a solution as this seriously limits the usage of the command sets.

[2020-01-22 14:36] gobigfoot commented on #4891
Command Set can't get the id of the list within WebParts #4238, #4687  They really need to fix this issue.

[2020-01-22 14:42] VladyslavGoloshchapov commented on #1449
this worked for me for few days, but stopped days ago. Does it still work for you?

[2020-01-22 14:45] VladyslavGoloshchapov commented on #1449
rootVM.resources became an empty object @jusper-dk

[2020-01-22 14:50] Sturez commented on #5193
I confirm the script runs correctly on a brand new site collection. Actually the site-script's target is a sub-site of an existing site collection.
It's a while i'm not working in SharePoint, but as far as i remember each sub-site can have it's own content types, is this my error?

Here is how i create the subsite (through a flow) :
![image](https://user-images.githubusercontent.com/23401925/72902

[2020-01-22 14:56] thespooler commented on #2005
Any news on this?
I'm also experimenting this exact behavior.

[2020-01-22 15:07] PrasadKasireddy commented on #3537
This issue is started appearing now - refer the latest issues https://github.com/SharePoint/sp-dev-list-formatting/issues/204

[2020-01-22 15:09] MarksPoint opened #5195 "Unexpected results using SPComponentLoader.loadScript()"
#### Category
- [x] Question
- [ ] Typo
- [x] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

Loading our custom AMD script module using SPComponentLoader should work like a charm. This was the case until yesterday.

#### Observed Behavior

We're CDN-hosting our own AMD script modules (bundled with WebPack) but since yesterday, the result of loading these modules through `SPC

[2020-01-22 15:12] shelbylanderson opened #5196 "QuickApps"
- [x] Question
- [ ] Typo
- [ ] Bug
- [ ] Additional article idea

Looking for any advice/tips for using QuickApps for SharePoint 2013, specifically qListForm. There isn't much on the web regarding QuickApps in general...so I'm wondering if anyone has had any luck figuring this beast out. The company I work for is wanting to move away from InfoPath forms and are leaning heavily on utilizing QuickA

[2020-01-22 15:36] PrasadKasireddy commented on #5196
Instead of going for 3rd party tool, choose Microsoft Power Apps(https://powerapps.microsoft.com/en-us/blog/support-for-sharepoint-on-premises/)

Why should I choose Microsoft Powers Apps:
1. It is code free and It is a software-as-a-service (SaaS) comprised of connectors, services, apps and data platforms designed to quickly and seamlessly build business applications according to specific busines

[2020-01-22 15:47] cmzaragoza commented on #4557
Hello @andrewconnell. Do you know is there is any update regarding this issue in last SPFx 1.10 version?

[2020-01-22 15:53] cwdata commented on #4929
OK, seems that Microsoft is completely ignoring this issue. If anyone has access to premier support it would be great if he could open a ticket there to force them into a reaction.

[2020-01-22 16:23] VesaJuvonen commented on #4915
There are unfortunately known issues around this area on hosting the code at the Teams Desktop. Code changes have been now checked in and we are in progress of getting things out gradually after testing them internally. We do understand that this is not really an optimal situation and this issue should have been properly addressed much faster.

I'll keep this issue up to date on the progress as ch

[2020-01-22 16:37] juanmlarios commented on #4915
Thanks @VesaJuvonen ! this is a lifeline as the customer has been waiting for a response for while. I'll keep an eye on the ticket for updates

[2020-01-22 17:36] #5194 closed

[2020-01-22 18:59] VesaJuvonen commented on #3537
@PrasadKasireddy - any change we could get the repro steps as we would really need to understand the list configuration and how the JSON definition looks, so to be able to help with any specific details. That's the only way to really get the issue resolution forward:

* What's the list configuration - what kind of columns?
* How does the JSON look for the configuration?

Thanks for the additional

[2020-01-22 19:02] VesaJuvonen commented on #3537
Our baselines tests are fine for this scenario, so we definitely need the specific JSON configurations to be able to reproduce the issue. Thx.

[2020-01-22 19:08] VesaJuvonen commented on #4710
Just to follow up on this - anyone seeing this anymore or not? There should have been a fix applied on the farm level to fix this, so we should be good, but would like to get your input and confirmation on this.

[2020-01-22 19:15] YannickRe commented on #4710
We’re not seeing this anymore, but you can be sure I’ll reopen if it reoccurs 😉
Thank you for the follow up and the escalation, I’ll wait for some feedback from the others before I close it.

[2020-01-22 19:35] gbminnock commented on #3939
ok thanks @andrewconnell

[2020-01-22 19:39] narulasrinivas commented on #4915
Thanks @VesaJuvonen. Even our customer was waiting for longtime this to be fixed. Hope to see this issue resolved in a couple of weeks.

[2020-01-22 20:36] #5196 closed

[2020-01-22 21:02] rmbw74 opened #5197 "Person/Group Column not functioning as expected in Provisioned Custom List"
#### Category
- [X] Question
- [ ] Typo
- [ ] Bug
- [ ] Additional article idea

#### Expected or Desired Behavior

People or Group Column from provisioned Custom List Asset should function as expected

#### Observed Behavior

Provisioning a custom sharepoint list with an SPfx solution, the custom list is created with all columns, however the People or Group column does not retain any data in the

[2020-01-22 21:23] #2306 closed

[2020-01-22 21:23] #2316 closed

[2020-01-22 21:24] #2315 closed

[2020-01-22 21:24] #2329 closed

[2020-01-22 21:24] #2332 closed

[2020-01-22 21:24] #2310 closed

[2020-01-22 21:24] #2327 closed

[2020-01-22 21:24] #2324 closed

[2020-01-22 21:24] #2308 closed

[2020-01-22 21:24] #2319 closed

[2020-01-22 21:24] #1881 closed

[2020-01-22 21:24] #2325 closed

[2020-01-22 21:24] #1882 closed

[2020-01-22 21:24] #1878 closed

[2020-01-22 21:24] #1890 closed

[2020-01-22 21:24] #2337 closed

[2020-01-22 21:24] #1895 closed

[2020-01-22 21:24] #1955 closed

[2020-01-22 21:24] #1891 closed

[2020-01-22 21:24] #1902 closed

[2020-01-22 21:25] #1959 closed

[2020-01-22 21:25] #1918 closed

[2020-01-22 21:25] #2338 closed

[2020-01-22 21:25] #1925 closed

[2020-01-22 21:25] #2350 closed

[2020-01-22 21:25] #2277 closed

[2020-01-22 21:25] #1935 closed

[2020-01-22 21:25] #1942 closed

[2020-01-22 21:25] #1939 closed

[2020-01-22 21:25] #2340 closed

[2020-01-22 21:25] #2352 closed

[2020-01-22 21:25] #1213 closed

[2020-01-22 21:25] #1961 closed

[2020-01-22 21:25] #1947 closed

[2020-01-22 21:26] #2285 closed

[2020-01-22 21:26] #2280 closed

[2020-01-22 21:26] #2353 closed

[2020-01-22 21:26] #1221 closed

[2020-01-22 21:26] #2251 closed

[2020-01-22 21:26] #2289 closed

[2020-01-22 21:26] #2288 closed

[2020-01-22 21:26] #2294 closed

[2020-01-22 21:26] #2354 closed

[2020-01-22 21:26] #1244 closed

[2020-01-22 21:26] #1246 closed

[2020-01-22 21:26] #2301 closed

[2020-01-22 21:26] #1248 closed

[2020-01-22 21:26] #2356 closed

[2020-01-22 21:26] #1247 closed

[2020-01-22 21:26] #1043 closed

[2020-01-22 21:26] #1488 closed

[2020-01-22 21:26] #1479 closed

[2020-01-22 21:26] #2363 closed

[2020-01-22 21:26] #1484 closed

[2020-01-22 21:26] #1108 closed

[2020-01-22 21:26] #1439 closed

[2020-01-22 21:26] #1863 closed

[2020-01-22 21:26] #1509 closed

[2020-01-22 21:26] #1446 closed

[2020-01-22 21:26] #1858 closed

[2020-01-22 21:27] #1861 closed

[2020-01-22 21:27] #1864 closed

[2020-01-22 21:27] #2361 closed

[2020-01-22 21:27] #1860 closed

[2020-01-22 21:27] #1869 closed

[2020-01-22 21:27] #1868 closed

[2020-01-22 21:27] #1865 closed

[2020-01-22 21:27] #2370 closed

[2020-01-22 21:27] #1866 closed

[2020-01-22 21:27] #1874 closed

[2020-01-22 21:27] #2376 closed

[2020-01-22 21:27] #1875 closed

[2020-01-22 21:27] #1876 closed

[2020-01-22 21:27] #2387 closed

[2020-01-22 21:27] #2378 closed

[2020-01-22 21:27] #1901 closed

[2020-01-22 21:29] #3721 closed

[2020-01-22 21:29] #3808 closed

[2020-01-22 21:29] #3771 closed

[2020-01-22 21:29] #3945 closed

[2020-01-22 21:30] #3967 closed

[2020-01-22 21:30] #3978 closed

[2020-01-22 21:30] #3805 closed

[2020-01-22 21:30] #3804 closed

[2020-01-22 21:30] #3863 closed

[2020-01-22 21:30] #3841 closed

[2020-01-22 21:30] #3817 closed

[2020-01-22 21:30] #3930 closed

[2020-01-22 21:30] #3388 closed

[2020-01-22 21:30] #3902 closed

[2020-01-22 21:30] #3322 closed

[2020-01-22 21:30] #3486 closed

[2020-01-22 21:31] #3192 closed

[2020-01-22 21:31] #4025 closed

[2020-01-22 21:31] #3243 closed

[2020-01-22 21:31] #3312 closed

[2020-01-22 21:31] #3286 closed

[2020-01-22 21:31] #4021 closed

[2020-01-22 21:31] #2388 closed

[2020-01-22 21:31] #2237 closed

[2020-01-22 21:31] #2509 closed

[2020-01-22 21:31] #3904 closed

[2020-01-22 21:32] #3334 closed

[2020-01-22 21:32] #4101 closed

[2020-01-22 21:32] #2439 closed

[2020-01-22 21:32] #3973 closed

[2020-01-22 21:32] #3210 closed

[2020-01-22 21:32] #3993 closed

[2020-01-22 21:32] #1905 closed

[2020-01-22 21:32] #3230 closed

[2020-01-22 21:32] #2259 closed

[2020-01-22 21:32] #2501 closed

[2020-01-22 21:32] #4070 closed

[2020-01-22 21:32] #3402 closed

[2020-01-22 21:32] #4052 closed

[2020-01-22 21:32] #2555 closed

[2020-01-22 21:32] #1683 closed

[2020-01-22 21:32] #2775 closed

[2020-01-22 21:32] #3245 closed

[2020-01-22 21:32] #1097 closed

[2020-01-22 21:32] #4066 closed

[2020-01-22 21:32] #3350 closed

[2020-01-22 21:33] #3261 closed

[2020-01-22 21:33] #2778 closed

[2020-01-22 21:33] #3426 closed

[2020-01-22 21:33] #4171 closed

[2020-01-22 21:33] #3477 closed

[2020-01-22 21:33] #1008 closed

[2020-01-22 21:33] #4160 closed

[2020-01-22 21:33] #2002 closed

[2020-01-22 21:33] #3351 closed

[2020-01-22 21:33] #1021 closed

[2020-01-22 21:33] #2204 closed

[2020-01-22 21:33] #2820 closed

[2020-01-22 21:33] #2625 closed

[2020-01-22 21:34] #3479 closed

[2020-01-22 21:34] #1031 closed

[2020-01-22 21:34] #3545 closed

[2020-01-22 21:34] #1968 closed

[2020-01-22 21:34] #1004 closed

[2020-01-22 21:34] #3434 closed

[2020-01-22 21:34] #2223 closed

[2020-01-22 21:34] #2597 closed

[2020-01-22 21:34] #996 closed

[2020-01-22 21:34] #2369 closed

[2020-01-22 21:34] #3525 closed

[2020-01-22 21:34] #2654 closed

[2020-01-22 21:34] #2727 closed

[2020-01-22 21:34] #4165 closed

[2020-01-22 21:34] #3608 closed

[2020-01-22 21:34] #3547 closed

[2020-01-22 21:34] #2837 closed

[2020-01-22 21:34] #3492 closed

[2020-01-22 21:34] #2604 closed

[2020-01-22 21:34] #1007 closed

[2020-01-22 21:34] #1693 closed

[2020-01-22 21:34] #2809 closed

[2020-01-22 21:34] #3506 closed

[2020-01-22 21:34] #3610 closed

[2020-01-22 21:34] #2880 closed

[2020-01-22 21:34] #2793 closed

[2020-01-22 21:35] #1341 closed

[2020-01-22 21:35] #3626 closed

[2020-01-22 21:35] #3662 closed

[2020-01-22 21:35] #2841 closed

[2020-01-22 21:35] #2890 closed

[2020-01-22 21:35] #3504 closed

[2020-01-22 21:35] #1662 closed

[2020-01-22 21:35] #1332 closed

[2020-01-22 21:35] #2186 closed

[2020-01-22 21:35] #2221 closed

[2020-01-22 21:35] #3623 closed

[2020-01-22 21:35] #3022 closed

[2020-01-22 21:35] #2835 closed

[2020-01-22 21:35] #1360 closed

[2020-01-22 21:35] #1681 closed

[2020-01-22 21:35] #2871 closed

[2020-01-22 21:35] #2859 closed

[2020-01-22 21:35] #2900 closed

[2020-01-22 21:35] #3615 closed

[2020-01-22 21:35] #582 closed

[2020-01-22 21:35] #809 closed

[2020-01-22 21:35] #3157 closed

[2020-01-22 21:35] #2238 closed

[2020-01-22 21:35] #2722 closed

[2020-01-22 21:35] #2894 closed

[2020-01-22 21:35] #1669 closed

[2020-01-22 21:35] #1953 closed

[2020-01-22 21:35] #2975 closed

[2020-01-22 21:36] #2912 closed

[2020-01-22 21:36] #2851 closed

[2020-01-22 21:36] #2920 closed

[2020-01-22 21:36] #2225 closed

[2020-01-22 21:36] #3092 closed

[2020-01-22 21:36] #1060 closed

[2020-01-22 21:36] #1082 closed

[2020-01-22 21:36] #3151 closed

[2020-01-22 21:36] #2380 closed

[2020-01-22 21:36] #2342 closed

[2020-01-22 21:36] #3040 closed

[2020-01-22 21:36] #2299 closed

[2020-01-22 21:36] #2220 closed

[2020-01-22 21:36] #3131 closed

[2020-01-22 21:36] #3228 closed

[2020-01-22 21:36] #3130 closed

[2020-01-22 21:36] AJIXuMuK opened #5199 "Duplicate of #1243"
## Category

- [x] Bug

## Describe the bug

Duplicating #1243 as it has been closed but has open questions addressed to Microsoft

[2020-01-22 21:36] #1701 closed

[2020-01-22 21:36] #3224 closed

[2020-01-22 21:36] #1692 closed

[2020-01-22 21:36] #2229 closed

[2020-01-22 21:36] #2769 closed

[2020-01-22 21:36] #2766 closed

[2020-01-22 21:36] #2346 closed

[2020-01-22 21:36] #2749 closed

[2020-01-22 21:36] #3257 closed

[2020-01-22 21:37] #2137 closed

[2020-01-22 21:37] #2701 closed

[2020-01-22 21:37] #2358 closed

[2020-01-22 21:37] #2303 closed

[2020-01-22 21:37] #1850 closed

[2020-01-22 21:37] #2697 closed

[2020-01-22 21:37] #2004 closed

[2020-01-22 21:37] #1768 closed

[2020-01-22 21:37] #2345 closed

[2020-01-22 21:37] #2347 closed

[2020-01-22 21:37] #1636 closed

[2020-01-22 21:37] #2334 closed

[2020-01-22 21:37] #1114 closed

[2020-01-22 21:37] #2330 closed

[2020-01-22 21:37] #2097 closed

[2020-01-22 21:37] #2360 closed

[2020-01-22 21:37] #1923 closed

[2020-01-22 21:37] #2348 closed

[2020-01-22 21:37] #1603 closed

[2020-01-22 21:37] #2383 closed

[2020-01-22 21:37] #1560 closed

[2020-01-22 21:37] #2018 closed

[2020-01-22 21:37] #1566 closed

[2020-01-22 21:37] #1928 closed

[2020-01-22 21:37] #1872 closed

[2020-01-22 21:37] #1691 closed

[2020-01-22 21:38] #1712 closed

[2020-01-22 21:38] #1644 closed

[2020-01-22 21:38] #2105 closed

[2020-01-22 21:38] #2019 closed

[2020-01-22 21:38] #2134 closed

[2020-01-22 21:38] #2131 closed

[2020-01-22 21:38] #714 closed

[2020-01-22 21:38] #1587 closed

[2020-01-22 21:38] #1453 closed

[2020-01-22 21:38] #583 closed

[2020-01-22 21:38] AJIXuMuK opened #5200 "Duplicate of #867"
## Category

- [x] Bug

## Describe the bug
Duplicating #867 as it has been closed but never confirmed by Microsoft as fixed.

[2020-01-22 21:38] #1672 closed

[2020-01-22 21:44] AJIXuMuK opened #5201 "Duplicate of #1242"
## Category

- [x] Bug

## Describe the bug

Duplicate of #1242 that has been closed but never fixed by Microsoft (even after 2 years)!

[2020-01-22 22:11] andrewconnell commented on #5201
Referenced issue unlocked & reopened... if applicable/relevant, because the issue has open opened with no activity for a long time, it would be a good idea if you could share any additional context on the issue.

[2020-01-22 22:11] #5201 closed

[2020-01-22 22:12] andrewconnell commented on #5199
Referenced issue unlocked & reopened... if applicable/relevant, because the issue has open opened with no activity for a long time, it would be a good idea if you could share any additional context on the issue.

[2020-01-22 22:12] #5199 closed

[2020-01-22 22:13] andrewconnell commented on #5200
Referenced issue unlocked & reopened... if applicable/relevant, because the issue has open opened with no activity for a long time, it would be a good idea if you could share any additional context on the issue.

[2020-01-22 22:14] #5200 closed

[2020-01-23 01:03] Ibtissam-Azure-Office365 opened #5202 "Sharepoint Framework does already support SharePoint 2016(with the right Feature pack) and SharePoint 2019 ."
Good article!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3f02c78f-11e2-c9b9-ec7c-191e6e55caa8
* Version Independent ID: 4ed11eb8-a57e-d719-e0e5-95cdaa863b87
* Content: [Overview of the SharePoint Framework (SPFx)](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/sharepoint-framework-overview#feedback)
* Content

[2020-01-23 05:20] thechriskent commented on #5202
Thanks for your feedback!

[2020-01-23 05:20] #5202 closed

[2020-01-23 05:24] thechriskent opened #5203 "Reopened: List Formatting style whitelisting typo: flex-basic instead of flex-basis"
## Category

- [x] Bug

## Describe the bug

This is a previously opened issue that was closed (#2403) but it is still an issue and needs to be tracked/fixed by the team.

[2020-01-23 07:02] VesaJuvonen commented on #5204
As this is an issue on the actual column and view formatting capability and not on any of the samples at the sp-dev-list-formatting repository, moving it to the sp-dev-docs for more visibility.

[2020-01-23 07:11] wobba commented on #4875
For reference I blogged an option at https://www.techmikael.com/2020/01/retrieving-thumbnailspreviews-for.html on how to work with thumbnails.

[2020-01-23 07:13] wobba commented on #4777
@corriespondent  see my latest blog post for an approach to working with thumbnails https://www.techmikael.com/2020/01/retrieving-thumbnailspreviews-for.html

[2020-01-23 07:35] svaibhav commented on #3537
@PrasadKasireddy  Just to confirm, this issue is happening when the list are used as a webpart on the SP homepage and not on the list page.
Am also assuming that you are rowFormatter property in the JSON setting "class" as "sp-row-card".

[2020-01-23 08:42] PrasadKasireddy commented on #3537
@harshdamaniahd - as discussed yesterday, could you please share the details to Vesa

[2020-01-23 08:57] harshdamaniahd commented on #3537
Thanks, everyone for quick update, but I checked in 3-4  sites and the issue has been gone. Also, I checked in various formatting used across SharePoint sites, and everything looks good

[2020-01-23 08:57] #3537 closed

[2020-01-23 09:13] michalhainc opened #5205 "{ListUrlDir} not working as described"
**Reopening as original issue got closed by some bot for inactivity https://github.com/SharePoint/sp-dev-docs/issues/2879#issue-377299755**

{ListUrlDir} - claims to be the Server-relative URL of the site plus the list's folder, for me it translated to "Sp2Ex_Emails" but the "Server-relative URL of the site plus the list's root folder" should have been "/sites/sp2ex/testweb1/Sp2Ex_Emails"

My comm

[2020-01-23 09:32] phillipharding commented on #5174
This seems to be working again now

[2020-01-23 09:48] 365Iain commented on #5204
Thanks for moving this. Had a check this morning and it looks like it is now fixed. Just confirming in some production  sites and lists. Will reopen if I see any issues on these.

[2020-01-23 09:48] #5204 closed

[2020-01-23 11:00] #5161 closed

[2020-01-23 11:23] cwdata opened #5206 "Fields hidden in ContentType are shown in forms"
## Category

- [x] Bug

## Describe the bug

We have a SharePoint App that creates site columns, contenttypes and lists programmatically through CSOM (C#). This worked for several years without a problem. Now (don't know exactly the time it changed) when this solution creates a site contenttype which doesn't use the "Title" column and therefore sets it to hidden, this title column is nevertheless

[2020-01-23 11:34] cwdata commented on #5206
Add-On:
I just saw that our tenant already has the new "Edit Form" command in the standard forms where you can manually hide/unhide fields.
Maybe this new feature introduced the bug.

[2020-01-23 12:01] StfBauer commented on #4030
@patmill @andrewconnell the reason why you were not able to reproduce it might be cause you downloaded the US version of Firefox via VPN. Without downloading the US version I had this problem an multiple VMs.

This sounds maybe wired but with some products ship and has permission to ship different cryptography algorithms depending on the country you are in.

Not saying it is but could be see Expor

[2020-01-23 13:12] abdollahkahne commented on #5118
After a search in google, I found the following JSOM code, which return everyone feed. Altough it is not  REST API but it works well for me.
![Screenshot from 2020-01-23 16-40-18](https://user-images.githubusercontent.com/48277995/72987279-5037a400-3dff-11ea-98d3-f3674873c0df.png)

[2020-01-23 13:23] #5118 closed

[2020-01-23 14:07] Rafaelki commented on #1819
I know this is an old question but, is this affirmation (still) true?

If so, how is it possible that in the Search we can write a query using, for example, {User.SPS-Department.ID} or {User.SPS-Department.IDWithChildren}? I can see in the QueryModification that the IDs are correct, even when the same label exists on different parents.

[2020-01-23 14:23] andrewconnell commented on #1819
FYI - [Issue List - Our approach to closed issues](https://github.com/SharePoint/sp-dev-docs/wiki/Issue-List#our-approach-to-closed-issues)

[2020-01-23 14:28] andrewconnell commented on #5206
Unsure what the behavior was previously, but it doesn't make sense to hide the Title field. This field is required on all list items and thus users must be able to enter a value.

Even if you could do this previously, if it changed, I suspect this fixes the previous behavior.

Unclear from your post, but there are actually three Title fields, a main one & two calculated ones. Not sure if what's be

[2020-01-23 14:29] #5206 closed

[2020-01-23 14:49] andrewconnell commented on #4954
@muradhaider5 said:

That's a known issue and as mentioned in https://github.com/SharePoint/sp-dev-docs/issues/4669#issuecomment-572788792, MSFT is working on it.

[2020-01-23 14:49] #4954 closed

[2020-01-23 14:59] JarbasHorst commented on #5193
Hello @Sturez ,

after analyzing your case more carefully, I was able to identify two issues:

1. A sub site can have it's own content types and this is causing the first problem here. The properties parentName or parentId must point to a content type that exists in the parent. In your case, the parent is the sub site and it looks as if Site Design can't find any Item content type there. If you pr

[2020-01-23 15:00] #5178 closed

[2020-01-23 15:17] DmytroLapshyn opened #5207 "The code sample in the "Query for filtered information" section is incorrect"
Hi there,

The code sample in the "Query for filtered information" section is incorrect. The Filter class does not have a FilterValue property; however the FilterCollection itself has a convenience method named SetFilterValue that does exactly what's expected.

The issue also seems to affect the "Retrieve paged result sets" section as well where a similar incorrect approach to setting filter value

[2020-01-23 15:22] ioan-agopian commented on #5034
We are experiencing the same issue on several tenants.
Is a fix planned?

[2020-01-23 15:48] andrewconnell commented on #5207
Care to submit a PR with proposed fixes to the doc?

[2020-01-23 16:20] DmytroLapshyn commented on #5207
@andrewconnell sure - does this link to the pull request work for you?
https://github.com/Sigma-Software/sp-dev-docs/pull/1

[2020-01-23 17:21] andrewconnell commented on #5207
Unfortunately not... that's a PR in your fork to your own fork... you need to create a PR in this repo to pull from your fork. See [How to create a good pull request](https://github.com/SharePoint/sp-dev-docs/wiki/How-to-Create-Good-Pull-Requests) for details & additional links to github's help on this.

[2020-01-23 17:23] andrewconnell commented on #5193
I'm not knowledgeable on site designs/site scripts so will have to let someone else be the judge if it's a bug.

[2020-01-23 17:27] DmytroLapshyn commented on #5207
Apologies, my bad. Now there should be a proper PR.

[2020-01-23 18:17] LuisEnMarroquin commented on #1110
You can ignore the warning adding the following on your `gulpfile.js`

[code]

[2020-01-23 19:43] VesaJuvonen commented on #5174
There was unfortunately a regression with @me and @currentWeb tags starting from 3rd of January. Fix has been already applied and is >50% rolled out in the production, expected to be at 100% level within upcoming days.

[2020-01-23 19:45] VesaJuvonen commented on #5204
There was unfortunately a regression with @me and @currentWeb tags starting from 3rd of January. Fix has been already applied and is >50% rolled out in the production, expected to be at 100% level within upcoming days.

[2020-01-23 23:47] KevinTCoughlin commented on #5070
Thanks @StfBauer, I've committed a fix. This will be resolved next drop. cc: @patmill @VesaJuvonen

[2020-01-24 00:00] #5075 closed

[2020-01-24 00:32] KevinTCoughlin commented on #5203
Thanks for reporting @thechriskent, we've committed a fix. cc: @VesaJuvonen

[2020-01-24 00:50] KevinTCoughlin commented on #4988
This case-sensitive issue was fixed in SPFx 1.10 release.

[2020-01-24 01:05] kemesfun commented on #2257
Is this still occurring? If so what page do you navigate when this issue occurs? @corriespondent

[2020-01-24 01:37] TarundeepTheta commented on #3417
Hi @srideshpande,

I am facing this issue. The web part is not visible after a refresh.
Please suggest.

Thanks in advance.

[2020-01-24 04:03] ikmoss commented on #5174
Our production tenant has now received the hotfix. Thanks @VesaJuvonen

[2020-01-24 04:03] #5174 closed

[2020-01-24 05:43] ikmoss opened #5211 "Single page app for SPFX webpart doesn't refresh when navigate from left navigation in Team site for Targeted Release Tenant"
## Category

- [x] Bug

## Describe the bug
The issue is applicable for Targeted release only at this stage.

The issue appears to be related to a new change for cached navigation.
I've noticed today that it doesn't refresh when you switch between different single app pages with a SPFX app. I have tried different SPFX apps but the result was the same. But when you click the navigation link twice (

[2020-01-24 06:26] Harshagracy opened #5212 "Site URL in the manifest file"
I think the URL of the domain needs to be updated in the manifest file. It is an important point in the documentation which we expected. Could you please add it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d9b8fe2a-2de5-5ebd-c525-506c3916abd5
* Version Independent ID: 2eb9af47-f722-7ec7-e79b-819b6b2b06ac
* Content:

[2020-01-24 08:24] ozie02 commented on #5175
Apologies for the delay, after your response, what I have done is tried to see if actually data coming through and noticed once I clicked on the 'Preview' tab in the browser debugger there is data coming in but I can't figure out why the res.json() is not feeding this data back. The same piece of code used in the webpart returns data to the component.

![image](https://user-images.githubuserconten

[2020-01-24 09:24] asifahmeds opened #5213 "List View web part is not rendering Json Formatting properly in pages"
## JSON Formatting and List view web part

# Issue with tiles view when using json formatting in List view web part.

## The tiles view with json formatting is all scattered with List View web part when it is used in modern page. Also the view headers are not hiding (hideColumnHeader is not working).

This is issue occurring again and again. This is reference to recently closed issue which is rela

[2020-01-24 09:32] StfBauer commented on #4988
@KevinTCoughlin Thank you. Will try it and will close the issue then.

[2020-01-24 09:34] Abenold commented on #5213
it's back again, that was a "short" working fix ;(

[2020-01-24 09:37] PrasadKasireddy commented on #5213
#3537

[2020-01-24 10:28] andrewconnell commented on #5175
That's what I suspected... the `json()` method returns a promise so your code isn't waiting for it to complete. Minimally, this should fix it:

Change:

[code]

to

[code]

*Pretty sure this will work... I didn't test this... but you can see what I'm doing...*

[2020-01-24 10:33] #5211 closed

[2020-01-24 10:35] #4988 closed

[2020-01-24 10:37] PrasadKasireddy commented on #5213
@andrewconnell  - it is related to list-formatting area  , This is a previously opened issue that was closed (https://github.com/SharePoint/sp-dev-list-formatting/issues/204) but it is still an issue and needs to be tracked/fixed by the team

[2020-01-24 10:37] andrewconnell commented on #5203
@KevinTCoughlin as this issue was just a request to reopen an existing issue, I closed this one and reopened the other one as it contains the detail fo the issue.

[2020-01-24 10:37] #5203 closed

[2020-01-24 10:39] andrewconnell commented on #5213
@PrasadKasireddy thanks... it doesn't help when all the default sections were removed from this issue when it was submitted making it unclear what this is (bug/question/discussion/etc).

[2020-01-24 10:41] harshdamaniahd commented on #5213
https://github.com/SharePoint/sp-dev-list-formatting/issues/123

This is where it started.It was fixed before

[2020-01-24 10:54] andrewconnell commented on #3280
Both @ConaxLiu & @iBrooks are correct... #closing

[2020-01-24 10:54] #3280 closed

[2020-01-24 12:00] #5170 closed

[2020-01-24 12:38] asifahmeds commented on #5213
Hello

[2020-01-24 12:47] asifahmeds commented on #5213
Hello @andrewconnell , I have  this issue from my mobile. That is why I couldn't type properly.
But this is new not completely new issue. This issue occured in last year and 2 days ago too.
 The reference issue I have added gives clear information.
I think this issue should be given high priority as the earlier fix is not working and team might know the route cause already. Our users are loosing c

[2020-01-24 12:54] MiraLorenz opened #5214 "Login with SharePointOnlineCredentials fails if password contains a character reserved by XML"
## Category

- [x] Bug

## Describe the bug

**Edit: I noticed that the error does not only occur for the five XML reserved characters, but also for other special characters.**

Hello,
i have a problem when authenticating to SharePoint. The following code shows an authentication method you commonly find as an example for this task . It works fine for most accounts, but if the password contains a c

[2020-01-24 13:00] asifahmeds commented on #5213
The issue seems to be fixed now. Can any one from Ms SharePoint team confirm that a permanent fix is applied? Or Should we wait and see for stability?

[2020-01-24 13:02] harshdamaniahd commented on #5213
Yes confirmed....fixed...

[2020-01-24 13:15] PrasadKasireddy commented on #5213
Agree @asifahmeds as it issue is not stable, it was happen yesterday as well. it is happening intermittently.

[2020-01-24 13:23] PrasadKasireddy commented on #5204
Please reopen this ticket as tracking as it is not completed fixed

[2020-01-24 13:24] Sturez commented on #5193
Hi @JarbasHorst , thanks a lot for your prompt answer. i'll try the point one next week and i'll write here the outcome.
Regarding the point two, it's my mistake, i was trying with something like "ProjectEmailTo". in the meantime thanks a lot for your help, guys.

[2020-01-24 13:24] Abenold commented on #5213
seems to work again (for now) hope it keeps working.

[2020-01-24 13:25] PrasadKasireddy commented on #5174
it is fixed now in our tenant

[2020-01-24 14:29] VesaJuvonen commented on #5214
Issue here seems to be following line of code:

[code]

This will result your password not to be valid anymore as the characters are changed, so you will not be able to login. Just remove this step and you'll be good to go.

[2020-01-24 14:30] juliemturner commented on #5214
@MiraLorenz - I'm currently running code just like this and the passwords I use have special characters in them, including and & in one... it strikes me that maybe that's not your problem. Can you take the line out that's trying to encode your password and share the actual error message?
`string password = "Password&";
SecureString sspassword = new SecureString();
foreach (char c in password)
{

[2020-01-24 14:48] MiraLorenz commented on #5214
Unfortunately not. I initially used a login without escaping/encoding the password. And it worked just fine until someone tried to login with a password that contained the mentioned characters. This line was just a try to escape the characters, but as i stated above it is not working so i am looking for the right way to handle this characters.

[2020-01-24 14:56] MiraLorenz commented on #5214
![image](https://user-images.githubusercontent.com/11460198/73077727-044d3380-3ec1-11ea-97a9-22538c904db0.png)
I took out the line that encoded the password. But this was not what caused the initial problem. It was just a try to fix it.
This is the error i get when i try to log in with a password that contains the mentioned characters.
But i also have the same issue if i use our Delphi code that u

[2020-01-24 15:06] VesaJuvonen commented on #5214
Just to be super clear on the environment and versions. Which CSOM NuGet package version you are using AND just to confirm - you are trying to sign-in to the SharePoint Online - Correct?

XML special characters absolutely can be part of your password, so that's not the issue here.

[2020-01-24 15:09] eaquiler opened #5216 "Properly way to remove a Tenant Wide Deployed Extension"
Hi, I'm wondering which is the right process to remove an Extension that have been deployed tenant wide. Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e41df74-a651-cfa5-a538-9397e6793f52
* Version Independent ID: 9f272325-fdb3-68e3-634b-e7428128f75b
* Content: [Tenant Wide Deployment of SharePoint

[2020-01-24 15:15] andrewconnell commented on #5213
As you say it's working, there's nothing to investigate... thus closing. Feel free to open a new issue if it happens again.

@all - In the future, please consider the following points. These things make it easier to help (1) identify, (2) triage, (3) research, and (4) troubleshoot if there is a real error going on.

As @VesaJuvonen commented in the other issue https://github.com/SharePoint/sp-dev-

[2020-01-24 15:15] #5213 closed

[2020-01-24 15:27] MiraLorenz commented on #5214
@VesaJuvonen  Thank you for your quick reply. I am using version 16.1.19515.12000.
Yes i am signing-in to SharePoint online. The code does work if i use a password without one of this five characters.
I know that XML special characters are not prohibited by SharePoint. Using a password with them to login via the web client works just fine. That is why i am wondering why it is a problem using the c

[2020-01-24 15:30] VesaJuvonen commented on #5216
You can go to the Tenant Wide Deployment list at your app catalog site collection (site contents) and simply remove the entry for the extension or alternatively simply uninstall the solution from the app catalog, if that's the intention. This will simply remove the association from the sites and extension will no longer be rendered.

If extension is part of a larger solution and you ONLY want spec

[2020-01-24 15:34] #5216 closed

[2020-01-24 15:37] MiliusCZ opened #5217 "Centering tiles in list view"
## Category
- [X] Question
- [ ] Typo
- [ ] Additional article idea

## Question

Hi, I'm using JSON formatting to display list items as tiles. Is there a way how to center the tiles on the page? Currently it is aligned to the left no matter what I do. I can't override the margins or text-align properties as with "tileProps" attribute in JSON formatter, I can only influence the css of tile itself,

[2020-01-24 15:40] applekajui6 commented on #1639
It is showing error for import { MSGraphClient } from "@microsoft/sp-client-preview"; statement

[2020-01-24 15:41] andrewconnell commented on #1639
That's because that library is no longer applicable. Please see the docs for correct usage.

https://docs.microsoft.com/en-us/sharepoint/dev/spfx/use-msgraph

[2020-01-24 15:43] applekajui6 commented on #1639
I have used the code which you have provided in the link but while approving the permissions in API Management of SP Admin Center ... I am getting HTTP 400 Correlation ID error.. how can we resolve this?

[2020-01-24 15:44] andrewconnell commented on #1639
@applekajui6 What you describe is not related to this issue. Please open a new issue.

[2020-01-24 15:50] applekajui6 opened #5218 "getting HTTP 400 Correlation ID error when you approve Graph API Permissions from sharepoint admin center"
Expected Behaviour : I have a spfx webpart which displays calender events using Graph API . When you try to approve the Graph API Permission under API Mgmt of SP Admin Center it should get approved

Observed Behavior: When I try to approve it using global admin accessi am getting  HTTP 400 Correlation ID

![image](https://user-images.githubusercontent.com/60218749/73082368-5b69fd00-3eef-11ea-93d7-

[2020-01-24 16:00] michaelmaillot opened #5219 "Outlook add-in preview : missing folder"
## Category
- [x] Question
- [ ] Typo
- [ ] Additional article idea

## Question

Hi,

I wanted to try the Office Add-In Preview but when creating the WebPart, the "officeAddin" folder is missing (although I'm using the v1.10 of SPFx). Below some screen captures:

![image](https://user-images.githubusercontent.com/44271458/73082795-6199b280-3eca-11ea-9fb2-8b55147adb01.png)

![image](https://user-i

[2020-01-24 16:14] JarbasHorst commented on #5214
Hello @MiraLorenz

a colleague of mine wrote a blog post about the error message you are getting "Identity Client Runtime Library (IDCRL) could not look up the realm information for a federated sign-in." Would you like to give his suggestions a try?

[Link to the blog post](https://www.koskila.net/fixing-connect-sposervice-identity-client-runtime-library-idcrl-not-look-realm-information-federated-

[2020-01-24 16:30] VesaJuvonen commented on #5219
You will need to remember to execute the Yeoman generator in preview mode as follows:

[code]
Please follow up the needed steps from this tutorial - https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/get-started/office-addins-tutorial

[2020-01-24 18:09] ozie02 commented on #5175
Awesome that worked :)
Thanks to you I spent so many days on this issue. But I don't understand why we had to change the code to make it work this way.

![image](https://user-images.githubusercontent.com/58676455/73092322-d2a28f80-3ef5-11ea-9778-449b32a3f051.png)

[2020-01-24 18:38] patmill commented on #5219
(Just a note - the --plusbeta also gives you access to the office SDK / API via the webpart interfaces.)

[2020-01-24 19:49] lahuey commented on #5218
@applekajui6  could you email me your tenant's url so that I can investigate the logs?
lahuey@microsoft.com

Thanks

[2020-01-25 07:25] michaelmaillot commented on #5219
Thanks @VesaJuvonen, but if you have a closer look in my first screen capture on the top, you'll see that this is exactly the same command that I've set in my PowerShell Interface (I've started to follow your video tutorial btw 😉).

Thanks @patmill for the tip. Is it possible to reopen the issue, as my problem has not been solved yet ?

[2020-01-25 10:37] #5175 closed

[2020-01-25 15:50] abdollahkahne opened #5220 "Create Personal Site Using REST API"
## Category
- [X] Question
- [ ] Typo
- [ ] Additional article idea

## Question
I use endpoint suggested by Microsoft for creating personal site for user as follows:
`.../_api/sp.userprofiles.profileloader.getprofileloader/getuserprofile/createpersonalsiteenque(true)`

Altough it works and create personal site for user but it doesnt have list related to microfeed. So I cant use APIs related to mi

[2020-01-25 15:53] abdollahkahne commented on #5220
I compare two site which one of them work and the other does not work and there is no diffrence in their activated feature in site collection or site level

[2020-01-25 15:53] abdollahkahne commented on #5220
I compare two site which one of them work and the other does not work and there is no difference in their activated feature in site collection or site level

[2020-01-26 02:37] danmyhre opened #5221 "Table 7. Site options in SharePoint Online - Table is messed up"
Content should be fixed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28dce46b-a552-800a-621a-efcd6ee41d4e
* Version Independent ID: ea865148-7860-c247-6ae5-454ddb9c60c6
* Content: [Branding and site provisioning solutions for SharePoint](https://docs.microsoft.com/en-us/sharepoint/dev/solution-guidance/branding-and-s

[2020-01-26 02:42] danmyhre opened #5222 "Modern vs Classic"
Would like to re-open this discussion
https://github.com/SharePoint/sp-dev-docs/issues/4295

If any of this applies to modern, it is unclear.  I would recommend that a section be created for branding modern sites and then have an entirely separate page for classic and publishing pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-01-26 09:15] applekajui6 commented on #5218
when I see in Portal Azure it is showing permissions are granted. In my webpart im getting "sp-webpart-workbench-assembly_en-us_f0d9d879eac858478672d13ba224a03e.js:19 Uncaught (in promise) Error: Error - Type : Token Renewal Failed - Description : Token renewal operation failed due to timeout - AADCorrelationId: " Error

[2020-01-26 16:10] user546 opened #5223 "Application Customizer not initialized for top placeholder on first load of modern site"
## Category

- [x] Bug

## Describe the bug

Uncaught (in promise) Error: Failed to create application customizer 'ClientSideExtension.ApplicationCustomizer.XXXXXXX'. Error information is '***Extension failed to load for componentId "XXXXXXX".'.
at sp-pages-assembly_en-us_XXXXXXX.js:XXXX

## Steps to reproduce

2) create sppkg
3) deploy to tenant with out clicking on add tenant wise
4) do add an a

[2020-01-27 08:18] VesaJuvonen commented on #5219
hmm - makes no sense what so ever as just tested on two Win 10 computers with expected outcome. Re-installation of SPFx 1.10 globally and then testing that everything works as expected... without any issues.

[2020-01-27 09:19] PrasadKasireddy opened #5225 "List-formatting : What is difference b/w Operators "?" & ":""
## Category
- [x] Question
- [ ] Typo
- [ ] Additional article idea

## Question
List-formatting : What is difference b/w Operators "?" & ":" , I know that **?** is a conditional Operator, Is ":" also conditional Operator?

@thechriskent

[2020-01-27 09:29] asifahmeds commented on #5213
Issue is back again :( . I don't understand why no celar information is being given about this issue.

[2020-01-27 09:36] PrasadKasireddy commented on #5213
@harshdamaniahd  - Is this issue back again today please confirm.

[2020-01-27 09:38] PrasadKasireddy commented on #5213
https://github.com/SharePoint/sp-dev-list-formatting/issues/123#issuecomment-578656667

[2020-01-27 09:47] #5214 closed

[2020-01-27 10:00] harshdamaniahd commented on #5213
Yes.

[2020-01-27 10:05] MiraLorenz commented on #5214
I found the Issue. In my Delphi code, characters reserved by XML need to be escaped escape the with the CDATA-tag. This just failed because i had a mistake in the domain part of the test account address  i was using (Case-sensitivity). So with fixing this error, the c# code also works as wanted.

Thank you all for your help :)

[2020-01-27 10:16] amazinjoey opened #5226 "View Formatting schema - hideColumnHeaders function stopped work listview webpart"
## Category
- [ ] Question
- [ ] Typo
- [ ] Additional article idea
- [x] Bug

## Question

## Environment details (if applicable)

[2020-01-27 10:16] andrew-lott commented on #5213
This issue has appeared on my tenant.

[2020-01-27 10:19] PrasadKasireddy commented on #5226
Related issue - https://github.com/SharePoint/sp-dev-list-formatting/issues/123
https://github.com/SharePoint/sp-dev-docs/issues/5213

[2020-01-27 10:27] Oos12 commented on #3537
Issue is back again

[2020-01-27 10:28] FredrikEkstroem commented on #5213
Confirm, issue is back.
[Related issue with simple reproduction steps ](https://github.com/SharePoint/sp-dev-list-formatting/issues/208)

[2020-01-27 11:06] asifahmeds commented on #3537
Yes. Issue is back again

[2020-01-27 11:08] lucs17 commented on #4968
Unfortunately, this bug is already rolled out to the Standard release in some tenants. So the solution to switch from Targeted to Standard release won't work anymore. We really need a fast bug fix from MS!

[2020-01-27 11:38] AndyBolam commented on #4968
Well that's torn it.  Come on MS you are supposed to be seeing these bugs in preview before they are get to Standard, this has been a visible problem since 5 December!!

So another support ticket it is explaining exactly the same thing as before!!!!!  As I don't seem to be able to reopen the one you closed without resolving.  So frustrating.

Anyone else suffering with this, raise another ticket p

[2020-01-27 11:39] idboyd01 commented on #4968
Hi, this is an issue for us too. A blank page loads when viewing Single Web Part pages on Android (Chrome) or iOS (Safari). Using the "Request Desktop Site" option on either browser loads the page correctly, but unfortunately this isn't a viable workaround for our end users.

I tested it with a completely default "Hello World" wepbart (v1.10, React Framework) and had the same issue.

[2020-01-27 11:39] ng-marcus opened #5227 "QuickLaunch navigation (for SinglePageWebParts) fails"
## Category

- [x] Bug

## Describe the bug

On some tenancies, we are seeing clicks on the left hand menu (QuickLaunch) being ignored unless the link is clicked twice.   This is quite similar to an error we had some months ago #3168   When the link is clicked, the URL updates but the original content is rendered.   We're not seeing our React didMount or render functions getting called.

## Steps

[2020-01-27 11:50] andrewconnell commented on #5227
@GrahamMcMynn Is this related to the navigation events?

[2020-01-27 11:53] andrewconnell commented on #5213
@FredrikEkstroem https://github.com/SharePoint/sp-dev-docs/wiki/Issue-List#our-approach-to-closed-issues

[2020-01-27 11:54] andrewconnell commented on #5223
Can you provide the code for your placeholder? There's not much detail to work from in your submission...

[2020-01-27 11:56] andrewconnell commented on #5222
Good point... docs need to get updated. #reopened

[2020-01-27 11:56] #5222 closed

[2020-01-27 11:58] andrewconnell commented on #5221
Yup... content bug... thanks. Will get this fixed.

[2020-01-27 12:00] #5119 closed

[2020-01-27 13:21] ng-marcus commented on #5227
This may be related (and I only looked because this was the issue last time) but when the page loads, it makes two calls to get the page json

![image](https://user-images.githubusercontent.com/20163757/73177807-d60d6500-4107-11ea-832c-5614d6d1486c.png)

Both are GET calls

The second response has no response body.

[2020-01-27 13:53] michaelmaillot commented on #5219
Ok so the problem was slightly PEBKAC 😅

I used to have two versions of Node (through NVM) for multi-environment purposes and until now, I had no problem to switch between them and init SPFx projects with their specific versions.

When I had a look at my package.json file, I was in 1.9.1 version and that's why I didn't get the officeAddin folder. Don't know how but even if I was pointing the Node

[2020-01-27 13:53] #5219 closed

[2020-01-27 14:39] AndyBolam commented on #4968
Hi idboyd01, yes Andrew Connell and myself have both also tested this and there is a proven issue.  I am using Plumsail Forms which provides dedicated mobile forms using this type of page, it has led to several clients reporting broken business processes that rely on these.  Plus, I'm unable to deploy any new projects that use these.

Highly frustrating and should be resolved asap.  If MS want us

[2020-01-27 15:08] VesaJuvonen commented on #5219
thx @michaelmaillot  for coming back and providing the root cause. Good that you were able to sort things out.

[2020-01-27 15:19] #5183 closed

[2020-01-27 15:24] PetarSam opened #5229 "REST create modern site, set privacy public"
## Category
- [x] Question

Hi dear people of Sharepoint,

you were more than helpfull with the last questions I've had.

I am interested if someone knows how to set the privacy of the site programmatically -> private or public. I am using rest create modern site endpoint.

Thank you!

[2020-01-27 17:05] GrahamMcMynn commented on #5227
@andrewconnell  - I don't believe it is, however, I will take a look and try reproducing it.

[2020-01-27 17:09] ng-marcus commented on #5227
If it would help with analysis if you would like access to our Dev tenancy let me know and I can create a user account for you.

[2020-01-27 17:16] gobigfoot commented on #5183
I take it that worked for you?

[2020-01-27 17:20] gobigfoot commented on #5229
In O365 Admin you can **not** change the group privacy. I would imagine this would apply to the REST APIs as well.

[2020-01-27 17:45] abdollahkahne commented on #5220
This is my part of code I use to create personal site (sorry I work in a remote system which doesn't let me copy and paste):
![Screenshot from 2020-01-27 20-23-58](https://user-images.githubusercontent.com/48277995/73195553-4d141f00-4143-11ea-8158-548e72b7079b.png)

This code creates my personal site for the current user but its feed doesn't work yet. Better to say it's capabilities is 4 (Only doc

[2020-01-27 17:48] TheIronCheek commented on #4892
I'm still getting my original issue where my custom web part won't run when on the same page as other OOTB web parts.

The fix that you all are talking about is unrelated to the token issue @lahuey said could take a month or so to fix, correct?

[2020-01-27 18:05] abdollahkahne commented on #5220
I now see that the this personal site created four weeks ago. So it wasn't created using my code at all!  I will bulk create my personal sites using power-shell which I always try to not use because of its server side affects. Thanks again for your attention.

[2020-01-27 18:05] #5220 closed

[2020-01-27 18:18] shagra-ms commented on #5226
Thank you for reporting this. The issue has been identified and fixed. Fix would be rolled out in upcoming updates.

[2020-01-27 18:37] shagra-ms commented on #5225
There is no difference between **?** & **:**.

[2020-01-27 19:17] shagra-ms commented on #5217
@MiliusCZ Can you please share more details about what you are trying to achieve?

[2020-01-27 19:22] #5225 closed

[2020-01-27 19:42] shagra-ms commented on #4763
@eschrader @unowiz Can you please share more information about the ask?

Do you want users to directly land on Tiles layout, when they navigate to your View with tileProps formatter?

[2020-01-27 19:50] shagra-ms commented on #4946
@m3ngi3 I couldn't repro this locally. Can you please share the JSON that is failing when Modified column is sorted?

[2020-01-27 20:12] shagra-ms commented on #4540
@MisterAnderson91 There is no way to access information from a different row, as you have correctly summarized your ask.

You can achieve what you are trying with some careful styling. Please find modified JSON below -

[code]

[2020-01-27 20:13] #4540 closed

[2020-01-27 20:29] shagra-ms commented on #3733
This was fixed in May 2019.

@thechriskent Are you still facing this issue?

[2020-01-27 20:29] #3733 closed

[2020-01-27 20:35] shagra-ms commented on #2403
Thanks for reporting this @thechriskent. This has been fixed and would be rolled out in upcoming updates.

[2020-01-27 20:56] shagra-ms commented on #2397
Thanks everyone for your inputs. The scenario works on column formatting but is broken on View formatting. We will work on this and roll out a fix soon. Thanks!

[2020-01-27 21:34] lahuey commented on #5218
Is this happening consistently? Which browser? @applekajui6

[2020-01-27 21:41] shagra-ms commented on #3798
This has been fixed. @spplante Please let us know if this is still not working for you.

[2020-01-27 21:41] #3798 closed

[2020-01-27 21:41] shagra-ms commented on #4159
The scenario works on column formatting but is broken on View formatting. We will work on this and roll out a fix soon. Thanks!

Duplicate of #2397

[2020-01-27 21:42] #4159 closed

[2020-01-27 21:50] shagra-ms commented on #3544
The issue is resolved.

@sanjitlpatel Please do let us know if you are still facing this issue.

[2020-01-27 21:50] #3544 closed

[2020-01-27 21:57] shagra-ms commented on #3536
The issue is fixed. Please let me know if you are still facing this.

@bcameron1231 @harshdamaniahd

[2020-01-27 22:20] shagra-ms commented on #5014
Excel style expressions are not supported on SP2019 on premises. This is expected.

@Basti087 Can you share the JSON you are trying to use? Can you try the below JSON, which is equivalent to the JSON you are referring to in the product forum -

[code]

[2020-01-27 23:36] lahuey commented on #4892
@TheIronCheek  correct.

The Cache-Control issue has been resolved already, but the race condition issue is still open.
There was a couple other higher priority items that needed to be addressed before I could start fix this issue.

[2020-01-27 23:48] kemesfun commented on #2257
@O365Tycho Does this issue still occur?

[2020-01-28 00:27] shagra-ms commented on #3496
@apruzzr Can you share the JSON you are using?

Recommended way to adjust the formatter for small screen devices is to use [@window.innerWidth](https://docs.microsoft.com/en-us/sharepoint/dev/declarative-customization/column-formatting#section-6) token. You can adjust the flex direction based on the window size -

[code]

[2020-01-28 00:37] shagra-ms commented on #3282
@arielkropp I am unable to repro this locally. customRowAction works for me with View Formatting, even after I navigate to the view using the view dropdown.

Can you confirm if this is working for you now?

[2020-01-28 01:22] shagra-ms commented on #1161
@furler This is not a supported usage. We will update the specs. Thanks for reporting this.

[2020-01-28 01:30] #1161 closed

[2020-01-28 04:54] applekajui6 commented on #5218
Yes ... Please .. for browser -chrome

[2020-01-28 05:19] applekajui6 commented on #5218
sent you URL in email

[2020-01-28 06:33] O365Tycho commented on #2257
I don't know and honestly don't care. Last time I checked it was still
there but It's now 2020 and I gave up on it and the SharePoint app

On Tue, 28 Jan 2020, 00:48 Kennedy Mesfun, <notifications@github.com> wrote:

[2020-01-28 07:21] Dennis-LZ commented on #5229
We can use the endpoint " **/_api/GroupSiteManager/CreateGroupEx**" to create a modern team site, and use the "**isPublic**" request property to set privacy of the site.

**Example Code:**

[code]
More information:
[Modern SharePoint site creation with site designs and REST](https://simonagren.github.io/sites-sitedesign-rest/)
[SiteCollection.cs](https://github.com/SharePoint/PnP-Sites-Core/blob/4

[2020-01-28 07:58] JonasBjerke89 opened #5230 "Querystring parameter "List" throws error on modern page"
## Category

- [x] Bug

## Describe the bug

The parameter "List" throws an exception when used on a modern page in SharePoint Online. We are trying to set a modern page as a "NewForm" for at list content type.

## Steps to reproduce

1. Create a new modern communication site
2. Create a new generic list
3. Change the default content type (Item) "NewFormUrl" using Power Shell:
$ctype = Get-PnPCont

[2020-01-28 08:11] PooLP commented on #4680
For information, the problem appear always on 1.10. (For not close issue automatically. ^^)

[2020-01-28 08:19] PooLP commented on #1922
Ok, custom header it's fixed on top, but with two scroll bar. (i have tested for not close issue automatically. ^^)

[2020-01-28 08:20] PetarSam commented on #5183
Oh sorry for not giving you credits, yes it worked perfectly, thank you :)

[2020-01-28 08:21] PooLP commented on #1758
Any news for this ? (For not close issue automatically. ^^)

[2020-01-28 09:29] jacksonv1lle opened #5231 "Is it possible to serve multiple local workbenches?"
## Category
- [x] Question
- [ ] Typo
- [ ] Additional article idea

## Question
I need to run two instances of gulp serve on my development environment. I have an SPFx component library which is linked to another SPFx project both of which need to be served.

With version 1.8 I was able to simply change the ports in the serve.json file and I could run both SPFx projects without problems.
I have s

[2020-01-28 10:33] #5230 closed

[2020-01-28 10:34] JonasBjerke89 commented on #5230
This seems like expected behaviour after all, so i'm just closing this issue. Please re-open, if that isn't the case.

[2020-01-28 10:41] gszdev opened #5232 "Querying large lists by code"
## Category
- [x] Question
- [ ] Typo
- [ ] Additional article idea

## Question
Is it possible to query large lists by code (REST, CSOM, ...) to get over the 5000 items list view threshold limit, like in the modern experience list views?

Background:
We are using indexed columns inside the query and the result of the first query part will return more the 5000 items. So we get the 5000 items thres

[2020-01-28 10:47] PrasadKasireddy commented on #5212
@Harshagracy  - manifest file is created automatically by default with default settings.
@VesaJuvonen  - Is it required to add details about manifest files - https://docs.microsoft.com/en-us/sharepoint/dev/spfx/office-addins-create#configuration-support-with-office-add-ins. If yes, I will add that

[2020-01-28 10:58] PranavJoshi1070 opened #5233 "ConvertTo-PnPClientSidePage : Access denied. You do not have permission to perform this action or access this resource"
## Category
- [] Question
- [ ] Typo
- [ ] Additional article idea
-[x] Issue

## Question

I am trying to modernize Delve blog using following set of PowerShell commands:

`Connect-PnPOnline -Url https://tenantname.sharepoint.com/portals/personal/username -UseWebLogin`

`ConvertTo-PnPClientSidePage -DelveBlogPage -Identity "All About Modernization" -Overwrite -TargetWebUrl https://tenancyname.sha

[2020-01-28 11:31] YannickRe commented on #4710
No one responded within a week, closing now.

[2020-01-28 11:31] #4710 closed

[2020-01-28 12:34] panggio opened #5235 "How to navigate with partial load to a page from a Single WebPart App Page link"
## Category
- [x] Question
- [ ] Typo
- [ ] Additional article idea

## Question

[2020-01-28 14:24] VesaJuvonen commented on #5212
There is no need to update the manifest file after the initial creation of the project. It has a specific tag, which is then automatically updated based on the hosted tenant. If you follow up on the tutorial, there's no need to update manifest file in any ways to get things running - we set up it properly with default values which do work as such.

[2020-01-28 15:00] fonbrauzen commented on #922
The same thing on SP FX 1.10, according to [manual for web part](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/guidance/localize-web-parts) should be used gulp serve --locale=de-DE, but despite I have both localized values in manifest and /loc/*.js files, without overwriting like was described by @cwdata, they're ignored from both places

[2020-01-28 15:55] binaryjam commented on #3537
Hi I have this problem again,   on a news page it is doing this on a list view page it is not.

.root-226 .ms-List-cell {
    min-height: 38px;

This min-height setting seems to be the thing that is different between the page types.

This should be enough of my formatter,  the list has a Title and a Number for the happiness field.

{
  "$schema": "https://developer.microsoft.com/json-schemas/sp/vi

[2020-01-28 17:25] PiotrekKrakowiak opened #5239 "Schema change in package-solution.json"
There seems to be a schema change on the package-solution.json file.
The old one (generated by yeoman) said:
"$schema": "https://developer.microsoft.com/json-schemas/spfx-build/package-solution.schema.json",

The new version as suggested by this article says:
 "$schema": "https://dev.office.com/json-schemas/spfx-build/package-solution.schema.json",

Could you comment on this difference? Should the

[2020-01-28 18:35] bubbleswap commented on #1079
similar/same issues with modern News web part --
- Thumbnail image will not show if the News web part settings is "Selected site", but post thumbnail will show if News web part is "This site only". **Is this a Hub site issue?**
- Some posts thumbnail will show in News web part roll-up, others won't, it's about 50/50. All images are JPG and **data-sp-originalimgsrc** is /_api/v2.1/
- Posts that are

[2020-01-28 20:47] andrewconnell commented on #5232
The method you are asking about, `RenderListDataAsStream`, is documented here: https://docs.microsoft.com/sharepoint/dev/sp-add-ins/working-with-lists-and-list-items-with-rest#renderlistdataasstream-uri-parameters

[2020-01-28 20:47] #5232 closed

[2020-01-28 20:50] andrewconnell commented on #5239
The schemas referenced in the latest Yeoman generator are the most current and correct references. The docs may be a bit outdated. Note the last time this page was updated: March 2019 (*while the latest SPFx release v1.10 was in January 2020*).

[2020-01-28 20:55] andrewconnell commented on #5231
I can't repro this... I just created a new SPFx v1.10 project, accepting all the defaults, changed the ports on both the `port`, `initialPage` & `port.api` properties in **serve.json** and the workbench loaded just fine... can you provide a repro?

[2020-01-28 21:13] kemesfun commented on #2257
Because there are not

[2020-01-28 21:15] kemesfun commented on #2257
I wasn't able to reproduce this issue, so I am closing it for now. If this issue occurs and affects more customers then another issue will be opened.

[2020-01-28 21:34] furler commented on #5213
That's all very well, but this issue has had multiple posts, all getting prematurely closed. Perhaps leave the dust to settle so that people can confirm it's been fixed for more than a day before troubles appear again?

[2020-01-28 21:38] PiotrekKrakowiak commented on #5239
Thanks Andrew - I am going to create a PR to update this article then, to use the developer.microsoft.com schema as generated by yeoman! Cheers!

[2020-01-28 21:38] furler commented on #5226
Does the fix also include the related issue of "flexbox like" tiles staggering when embedded on a page via the list view web part? Multiple posts have been created for this recurring issue, I think the one @PrasadKasireddy posted: https://github.com/SharePoint/sp-dev-list-formatting/issues/123 being one of the first.

Note again this has nothing to do with the new tileProps property, which doesn't

[2020-01-28 23:32] kemesfun commented on #3739
The parsing for title in preconfiguredEntries is case sensitive. Adding"title": { "default": "Greeting", "nl-nl": "Begroeting" } will not work since it has to be nl-NL. Everything next to the '-' has to be UpperCase. This solves the issue, but there will be a fix to make nl-nl work.

[2020-01-28 23:53] johnguy0 commented on #2071
Is this issue still occuring? A correlation id with date/time would be useful for us to pull logs. A consistent repro would be even better.

[2020-01-29 00:09] kemesfun commented on #3468
@Leif-Frederiksen Is this issue still happening? I am testing on a HeartBeat Tenant and the font weight doesn't change.

[2020-01-29 00:12] johnguy0 commented on #2108
Does this issue still repro using the latest packages?

[2020-01-29 00:40] corriespondent commented on #2257
@kemesfun It has been quite a while and I am not sure I have access to the same environment to check this issue. I looked on a different site, and while it seems like the mobile class is sticking around this time, I found that the bottom placeholder did not render when I went into a news page, and the "events" page had improper styling or structure on the main content area so that it wasn't scroll

[2020-01-29 00:49] corriespondent commented on #2257
@kemesfun I think the event page is a totally separate issue, after looking into it more. It seems like the event page container doesn't allow for scrolling the way that most other pages do. The top is the event page, and there is no height or overflow-y styling, while the main page (bottom) allows for scrolling. If you have a footer rendering in the bottom placeholder, it becomes very evident tha

[2020-01-29 00:51] johnguy0 commented on #2732
This should have been fixed in the service. Let us know if you continue seeing this issue.

[2020-01-29 00:51] #2732 closed

[2020-01-29 01:17] GrahamMcMynn commented on #2099
We have given a workaround of using the CDN, however, sharing with external users without the CDN needs different feature work in order to be supported and we do not have that on our backlog at this point.

[2020-01-29 01:17] #2099 closed

[2020-01-29 01:48] byronwjones opened #5245 "Powershell Deployment?"
Is there any way of deploying a SharePoint web part package via PowerShell?  Ideally I would like to make the deployment a part of a DevOps release pipeline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7ee4609-11a2-b852-daed-585f9f678957
* Version Independent ID: df1d0ade-b26f-2b48-eaff-4ed2d6b1ec63
* Content: [Dep

[2020-01-29 02:05] corriespondent commented on #2257
@kemesfun This seems specific to the event page. I will open a new Github issue and retest the original mobile issue tomorrow.

[2020-01-29 02:12] corriespondent opened #5246 "Modern Comm site event page does not scroll properly when SPFx footer is used"
## Category

- [x] Bug

## Describe the bug

A modern communication site's event page on O365 does not scroll properly when SPFx footer is used. The footer sticks in the middle of the page.

## Steps to reproduce

1. Apply SPFx extension to add a footer to the bottom placeholder of a modern communication site
2. Add custom events to the site so that there are enough to require the page to scroll
3

[2020-01-29 02:12] corriespondent commented on #2257
@kemesfun  https://github.com/SharePoint/sp-dev-docs/issues/5246

[2020-01-29 02:15] johnguy0 commented on #3503
@AJIXuMuK Looking at the `package.json` in the sample linked above, I don't see a reference to `@microsoft/sp-loader`. This would mean its being picked up as an implicit dependency, which for SPFx libraries will have unintended side effects. Can you make the dependency explicit and try again on a Comm Site?

[2020-01-29 02:19] johnguy0 commented on #3627
If you still experience this, please open an issue on the Fabric team.

[2020-01-29 02:19] #3627 closed

[2020-01-29 02:30] johnguy0 commented on #3844
After following the updated guidance from @KevinTCoughlin , does anyone still have a repro?

[2020-01-29 06:53] gaikwaduc commented on #4892
@lahuey I can be confirmed that the issue **Refused to display 'https://myorg-app.sharepoint.com/_forms/spfxsinglesignon.aspx... ... ...' in a frame because it set 'X-Frame-Options' to 'sameorigin'.** no more exist in the browser. However, still facing an issue on **MS Team Desktop client**.

[2020-01-29 07:06] gszdev commented on #5232
@andrewconnell, Yes you right the method is documented. But are there any information to get around the 5000 items list view threshold like modern experience list view does?

I see the following URI-Parameter "TryNewExperienceSingle" in Fiddler which I cannot find in the documentation.

Additional information to the question:
[SharePoint Online List View Threshold](https://joannecklein.com/2017/07

[2020-01-29 08:02] m3ngi3 commented on #4946
Thank you for checking in @shagra-ms !
So when sorting Ascending on Name with link & menu =
![pvmFormattingOKViewAscendingNameLinkMenu](https://user-images.githubusercontent.com/47530580/73337954-c2800c80-4275-11ea-865f-55e5a54c4242.png)

When changing to Descending on Modified (and a bunch of other columns) =
![pvmFormattingNotOKViewDescendingModified](https://user-images.githubusercontent.com/47

[2020-01-29 09:31] slavag opened #5247 "Sharepoint REST download returns incomplete content on aspx files and large files"
## Category

- [x] Bug

## Describe the bug
We're using :
/_api/web/GetFileById('<file_guid>')/$value
Or
/_api/web/GetFileByServerRelativeUrl('<file url>')/$value
We see that on many aspx files and on large files, the content that is returned is incomplete.
In the files properties I see one size and when entire stream is read. We see it constantly in Site Pages aspx files, and from time to time on

[2020-01-29 12:10] andrewconnell commented on #5245
See: https://docs.microsoft.com/sharepoint/dev/spfx/toolchain/implement-ci-cd-with-azure-devops

[2020-01-29 12:23] PrasadKasireddy commented on #5239
@PiotrekKrakowiak  & @JarbasHorst  - duplicate PRs #5242  & #5243

[2020-01-29 13:06] jacksonv1lle commented on #5231
I am still not able to get it working. I created a new SPFx v1.10 (webpart with React).
I changed my `serve.json` to the following:
`
{
  "$schema": "https://developer.microsoft.com/json-schemas/core-build/serve.schema.json",
  "port": 1111,
  "https": true,
  "initialPage": "https://localhost:2222/workbench",
  "api": {
    "port": 2222,
    "entryPath": "node_modules/@microsoft/sp-webpart-workbe

[2020-01-29 13:18] cwdata commented on #3739
@kemesfun
Thanks for the update and the workaround, we'll change our manifest files accordingly.

[2020-01-29 14:02] VesaJuvonen commented on #5246
Acknowledge and being worked on. Really unfortunate and quite visible issue on the modern experiences. We should have updates on this relatively soon.

[2020-01-29 14:24] a1exymoroz opened #5249 "tslint error no-switch-case-fall-through"
## Category

- [x] Bug

## Describe the bug
[code]

## Steps to reproduce

package.json

[code]
tsconfig.json

[code]
tslint.json

[code]

Component

[code]
## Expected behavior

Terminal without error

## Developer environment

- OS: Windows 10
- Framework: [Node.js v10.13.0
- Browser(s): Chrome v79
- Tooling: VS Code, SPFx v1.10.0

[2020-01-29 15:31] corriespondent commented on #2257
@kemesfun I cannot duplicate the original error either. Looks like it might be fixed.

[2020-01-29 16:28] #2070 closed

[2020-01-29 16:28] #2100 closed

[2020-01-29 16:28] #2174 closed

[2020-01-29 16:28] #2213 closed

[2020-01-29 16:33] kemesfun commented on #2257
Closing this issue since it can't be duplicated.

[2020-01-29 16:33] #2257 closed

[2020-01-29 16:35] NavaneethaDev opened #5250 "Identifying External Sharing in Site Collections using SPFx"
## Category

- [x] Bug

## Describe the bug
I am currently using **"this.context.pageContext.legacyPageContext.guestsEnabled"** property to identify if the site collection is shared externally or not.
However, when i look at this link https://docs.microsoft.com/en-us/javascript/api/sp-page-context/pagecontext?view=sp-typescript-latest#legacypagecontext. It says that this property is legacy and are

[2020-01-29 16:38] andrewconnell commented on #5249
This isn't a general SharePoint dev issue. A default react project works fine with no error. I also added the PnP libraries and the same component and have no issue.

The tslint rule implies you have a switch statement somewhere that's allowing fallthrough on cases. By default, that's not allowed as listed in the **tslint.json** file. If you want it, change the value of that rule in **tslint.json*

[2020-01-29 16:52] andrewconnell commented on #5247
I can repro this as well...

[2020-01-29 16:54] andrewconnell commented on #5250
Not aware of an API in the SPFx API that contains this property... I think you'll likely want to rely on a REST API call. However, I'm unable to find a REST call that exposes that detail on a site collection... you may need to rely on this legacy context for now... I've sent a few questions around with the REST API engineers & will follow up if I hear anything.

[2020-01-29 17:01] VesaJuvonen commented on #5251
Moving the issue to centralized SP Dev issue list as this is not an issue related on any list formatting sample, so issue should be in sp-dev-docs repository.

[2020-01-29 17:01] andrewconnell commented on #4982
At the moment that's not in the plan. Would fall as a feature request...

[2020-01-29 17:02] #4982 closed

[2020-01-29 17:04] andrewconnell commented on #4776
The `RenderListDataAsStream` is the recommended approach... the other option you mention is specific to classic mode. Only the modern experience is receiving attention from engineering.

[2020-01-29 17:05] PrasadKasireddy opened #5252 "Disabled the Sync to Teams button in the SharePoint tenant App Catalog"
Select the teams-tab-client-side-solution package in the SharePoint tenant App Catalog and disabled the Sync to Teams button at in the ribbon at the Files tab.
While creating sample Teams tab SPfx 1.10 and also Updated the web part manifest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4521ae6c-2ac6-8898-4731-0a5a5034

[2020-01-29 17:08] andrewconnell commented on #4765
That's exactly what the section [Add the custom button](/sharepoint/dev/sp-add-ins/include-a-custom-button-in-the-provider-hosted-add-in) shows you how to do in this article. The referenced solution also contains the code that does this.

[2020-01-29 17:08] #4765 closed

[2020-01-29 17:13] gabbsmo commented on #4776
Is there any documentation for the list view threshold and how it applies to `RenderListDataAsStream`?

The [end user docs](https://support.office.com/en-us/article/manage-large-lists-and-libraries-in-sharepoint-b8588dae-9387-48c2-9248-c24122f07c59) recommends modern over classic but it is not clear how it is different in this regard or if the list view threshold is applicable at all.

[2020-01-29 17:15] andrewconnell commented on #5250
Looks like this property is only available from the tenant admin in O365. This page shows how you can use the CSOM to get this information (https://docs.microsoft.com/en-us/sharepoint/dev/solution-guidance/set-external-sharing-on-site-collections-in-office-365).

If it's only available via tenant admin, that likely means it's not something you'll want to do in an SPFx web part as most people won't

[2020-01-29 17:17] andrewconnell commented on #5252
Did you ensure the solution was deployed to the entire tenant when prompted? Can you provide a repro or upload your project's code to a public GH repo and reference it to assist researching the issue?

[2020-01-29 17:19] andrewconnell commented on #4749
Can you provide a repro such as uploading a sample project to a public GH repo & referencing it help reproduce the issue?

[2020-01-29 17:21] NavaneethaDev commented on #5250
Hi @andrewconnell , Thanks for your response. Indeed, its available in Tenant Admin via CSOM and PowerShell. However, i would like to do this in SPFx.

[2020-01-29 17:22] #4758 closed

[2020-01-29 17:29] andrewconnell commented on #4497
Can you comment if this is still the case? Many updates have been rolled out to the platform since this issue was submitted & ATM, I'm unable to repro this...

[2020-01-29 17:46] andrewconnell commented on #4747
This should be posted to the Microsoft Graph support channels... this repo is for SharePoint development issues.

[2020-01-29 17:47] #4747 closed

[2020-01-29 17:48] #5239 closed

[2020-01-29 19:15] kemesfun commented on #3145
@StfBauer I am getting React15 in package.json when I repro your steps, please verify that you get React15.

[2020-01-29 19:16] kemesfun commented on #3636
@agtenr I did not come across  this issue when using yeoman-generator v1.10. Can you try and repro this with v1.10?

[2020-01-29 19:56] marissasinai commented on #5251
@svaibhav  This is happening in multiple tenant solutions right now and I need it to be fixed ASAP. Is there a specific time frame that this fix is going to be pushed out?

<img width="872" alt="Annotation 2020-01-29 135543" src="https://user-images.githubusercontent.com/49072908/73392279-17844880-429f-11ea-8c27-b5bb45164ec4.png">

[2020-01-29 20:54] StfBauer commented on #3145
@kemesfun - Using the latest version on a more than one year old issue no surprise 😃

I did a quick checkup when it was fixed and batch created project from version 1.7.0 to more recent ones. Seems like it was fixed in version 1.8.1.

**SPFX 1.7.0**
[code]

**SPFx 1.7.1**
[code]

**SPFX 1.8.0**

[code]

**SPFx 1.8.1** -- FIXED

[code]

[2020-01-29 20:54] #3145 closed

[2020-01-29 21:07] StfBauer commented on #3636
@kemesfun It is now fixed 1.10.0. In general most people create a project using the "Create Folder option" start a another project on the same folder again with "Create Folder option".

The `.yo-rc.json` in the root folder caused a lot of trouble in the past.

<img width="435" alt="Screenshot 2020-01-29 at 22 05 20" src="https://user-images.githubusercontent.com/5503835/73397333-99966080-42e3-11ea

[2020-01-29 21:13] ng-marcus commented on #5235
We're seeing the same issues with navigation since the weekend, hitting more of our customer tenants through the week - see  #5227

[2020-01-29 21:57] #3636 closed

[2020-01-29 22:14] vivekbspgurus commented on #4744
Hi All, Is there any resolution for the issue so far? I am experiencing the same issue when I am trying to sort a list view by modified date. The list has about 27K records and the view is defined to make sure the list view threshold issue does not occur.

Earlier this week had a very similar experience when I tried to use Azure Function (CSOM) to create sub folders under the same library and then

[2020-01-29 22:40] furler commented on #5251
tileProps is a great development, and allows for a "proper" flexbox layout - the problem is it doesn't work reliably when the list is embedded via the web part. From my testing I 'think' it works only if the view is set to tiles on the list proper, then that view is edited and saved to be the default view.  If any of that changes then it breaks on the page and reverts to a list view.

So, that mea

[2020-01-29 23:15] johnguy0 commented on #4005
Fixed in `@microsoft/generator-sharepoint@1.10.0`

[2020-01-29 23:15] #4005 closed

[2020-01-29 23:24] johnguy0 commented on #4163
@joakimhogberg Are you still seeing this issue?

[2020-01-29 23:28] MarkStokes-outlook opened #5253 "I cannot create a new SPFx project with version 1.10"
## Category

- [x] Bug

## Describe the bug

I have just installed Node 10 and SPFx version 1.10 on a new computer. I am trying to create a new project but the Yeoman generator crashes / freezes at a particular point and I can't do anything to progress.

## Steps to reproduce

1. Bring up a new Console window (same with a PowerShell terminal in VS Code)
2. Navigate to new project folder
3. Run yo

[2020-01-29 23:29] kemesfun commented on #3160
@RoelVB  I am not able to repro this issue as I only see one script file when I upload a webpart. I am using IE11 and using the sitepages. Can you try to and repro this again to see if this still occurs?

[2020-01-29 23:32] GrahamMcMynn commented on #4049
We didn't look at this anywhere close to fast enough, and now cannot capture logs... it is possible to get a new correlation ID for the issue?

[2020-01-29 23:32] johnguy0 commented on #4261
@hugoabernier Can you provide the details @andrewconnell requested in the thread? Is this only happening to one particular machine? Does this continue to happen if you upgrade the generator to 1.10.0?

[2020-01-29 23:39] #4564 closed

[2020-01-29 23:47] hugoabernier commented on #4261
@johnguy0 it continues to happen even after upgrading. Again, this issue occurs with every solution, regardless of the SPFx version on that workstation.

[2020-01-29 23:48] johnguy0 commented on #4261
@hugoabernier Without any further details about the machine and environment it's difficult for us to help. We cannot reproduce the issue.

[2020-01-29 23:54] hugoabernier commented on #4261
OS: Windows 10 v2004 (OS Build 19546.1000)
Browser: Chrome, Edge, Edge Chromium
Node: v8.16.0 (tried upgrading and downgrading, didn't matter)
NPM: 6.4.1
NPM List -g:
+-- @microsoft/generator-sharepoint@1.10.0
+-- @pnp/office365-cli@2.5.0-beta.65b2c66
+-- dts-gen@0.5.7
+-- generator-office@1.4.0
+-- generator-teams@2.11.1
+-- grunt-cli@1.3.2
+-- gulp@4.0.2
+-- jison@0.4.18
+-- js-to-ts-converter@0

[2020-01-29 23:56] johnguy0 commented on #4261
@hugoabernier Thanks! We'll do our best to try to reproduce the issue.

[2020-01-30 00:07] #2249 closed

[2020-01-30 00:13] kemesfun commented on #2249
Fixed #364075

[2020-01-30 00:26] kemesfun commented on #2249
This issue has been fixed and will be part of the next update.

[2020-01-30 00:35] kemesfun commented on #2709
@2toLeadMike I am not able to repro this issue. I see the error on the console when I add the error to  onInit(). Can you verify that this issue is still occurring?

[2020-01-30 01:00] johnguy0 commented on #4862
@JakeStanger Thanks for all the information. Sounds like you and @andrewconnell have already pieced together why this doesn't work. This is unfortunately by design. Our loading logic uses semantic versioning from the manifest to determine if modules loaded are compatible, which is why there are incompatibilities between an installed < 1.0.0 solution and a served > 1.0.0 solution.

Using a differen

[2020-01-30 01:00] #4862 closed

[2020-01-30 01:03] AJIXuMuK commented on #3844
Hi @johnguy0!
My solution uses version 1.8.0.
From @KevinTCoughlin's url:

But if I don't call `initializeIcons` the icons are not rendered.
So, at least, something is broken for SPFx < 1.8.2

[2020-01-30 01:06] johnguy0 commented on #4854
@Js-Brecht Is this still intermittently happening with 1.10.0? Our private package dependencies shouldn't be leaking into the public package dependencies.

@iclanton Thoughts?

[2020-01-30 01:12] Js-Brecht commented on #4854
It happened once or twice more not too much longer after I posted this.  But it hasn’t  since maybe mid/late December.

Maybe it’s some idiosyncrasy in pnpm that’s since been fixed?  🤷‍♂️

[2020-01-30 01:13] AJIXuMuK commented on #3503
Thank you @johnguy0 for pointing that!
Yes, implicit dependency fixes the issue.

But I would say that the documentation should be changed.
First, of all, there is no any reference that a separate module should be referenced.
Second, [Connect to SharePoint using JSOM](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/guidance/connect-to-sharepoint-using-jsom) page still says that the

[2020-01-30 01:15] johnguy0 commented on #4788
@mbratukha Is the issue still occurring?

[2020-01-30 01:15] johnguy0 commented on #4854
@Js-Brecht It's possible. I'm going to close the issue, but please feel free to open a new one if this happens again. Thanks!

[2020-01-30 01:15] #4854 closed

[2020-01-30 01:18] johnguy0 commented on #4775
@pkmelee337 Are you still seeing this issue?

[2020-01-30 01:20] AJIXuMuK commented on #3503
[Documentation PR](https://github.com/SharePoint/sp-dev-docs/pull/5254)

[2020-01-30 01:22] johnguy0 commented on #3503
@AJIXuMuK Agreed on the docs change. Thank you for submitting a PR to fix it!

[2020-01-30 01:30] johnguy0 commented on #4774
@TjWheeler The `Description` property is supposed to be a text only field. If you are persisting HTML data, the `propertiesMetadata` property on the web part should reflect this by following this [documentation](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/guidance/integrate-web-part-properties-with-sharepoint#specify-web-part-property-value-type). Can you try setting `isHtmlStri

[2020-01-30 01:36] johnguy0 commented on #2249
The fix will be included into the next `@microsoft/generator-sharepoint` version.

[2020-01-30 05:53] mbice commented on #5231
Seeing a similar issue here.. We are serving multiple projects simultaneously during development on different ports. This always worked fine in 1.8.2. Upon upgrading to 1.10.0 all of the localhost node_modules references always go to port 4321, regardless of which port I specify in the debugManifestsFile querystring parameter.

[2020-01-30 06:14] HanumantPatil opened #5255 "Column header are visible in list web part, previously it is working fine"
## Category
View Formatting
- [x] Bug
unable to hide column header in list web part in modern list web part

## Describe the bug

1. created list and added column

![image](https://user-images.githubusercontent.com/18139035/73424005-bcf8f400-4353-11ea-8d56-4d5094b291e2.png)

2. apply view formatting on list to hide column header

"schema": "https://developer.microsoft.com/json-schemas/sp/view-form

[2020-01-30 06:49] asifahmeds commented on #5251
@furler - Yes, tileProps is not a workaround for this issue.

[2020-01-30 07:27] HanumantPatil commented on #5255
issue resolved:
we need to select below list format called Tiles, to render correctly in list webpart on modern pages

![image](https://user-images.githubusercontent.com/18139035/73428762-00595f80-4360-11ea-8d70-9e48fabda815.png)

[2020-01-30 07:30] #5255 closed

[2020-01-30 07:30] HanumantPatil commented on #5255
Answer found , see above comment

[2020-01-30 08:12] PrasadKasireddy commented on #5252
Reproduce :
1. I created the team tab as per the document - https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/get-started/using-web-part-as-ms-teams-tab
2. SPFx 1.10.
3. Web part manifest file
     `{
  "$schema": "https://developer.microsoft.com/json-schemas/spfx/client-side-web-part-manifest.schema.json",
  "id": "1baa6995-0828-4855-8004-51268b2903a4",
  "alias": "MyFirstTeamsTabWeb

[2020-01-30 08:26] svaibhav commented on #5251
Update: We are working on the issue. And it is working fine (or has been fixed) on some of the internal development environment. Since this is a recent regression, we are trying to find out how exactly it regressed in the first place.

[2020-01-30 08:37] asifahmeds commented on #5251
@svaibhav - ETA would help us to answer our site users. Could you provide that?

[2020-01-30 10:10] panggio commented on #5235
Since yesterday we've also detected this issue in our standard release tenants.

[2020-01-30 10:40] joakimhogberg commented on #4163
Hi @johnguy0, thanks for reaching out.

I have not seen this issue in a while actually!

[2020-01-30 10:59] jpalo opened #5258 "Setting view specific persisted spcolumnsize"
## Category
- [X] Question
- [ ] Typo
- [ ] Additional article idea

## Question
In modern SPO list view you can change column width, it is then temporarily stored in browser Local Storage as `spcolumnsize-unsaved-VIEWGUID`. However, you have the option of saving it into View somehow, as asterisk (*) appears next to view name on SharePoint and you can "Save View As" to persist the column width _so

[2020-01-30 11:18] jpalo commented on #5258
Getting there:
![image](https://user-images.githubusercontent.com/6917905/73445276-fe44d000-4362-11ea-8a3e-778e4c1d58b1.png)

[2020-01-30 12:25] jpalo commented on #4787
I can reproduce this issue on SPO modern list.

Attempt to fetch&modify&update ListViewXml results in just default view, even if before this step I have successfully added fields to the view.

[code]

Results in HTTP POST to `https://xyz.sharepoint.com/sites/projectfolders_test/_api/web/lists/getByTitle('w18')/DefaultView` with payload:
[code]

However after the POST that succeeds with HTTP 204, l

[2020-01-30 13:51] NavaneethaDev commented on #5250
I want to achieve this in **SPFx properties** instead of using CSOM as it involves tenant level permission and it introduces unnecessary risk which would be rejected by a security/risk team also its just for knowing if the **site collection is externally shared or not**

[2020-01-30 14:00] #5147 closed

[2020-01-30 14:04] jpalo commented on #5258
This is how you do it, what is weird, though, is that you need to use column display name in FieldRef.
[code]

[2020-01-30 14:04] #5258 closed

[2020-01-30 14:20] andrewconnell commented on #5253
What version of Yeoman are you running? There was a known issue with one of its dependencies for a while.

Consider uninstalling Yeoman and reinstalling it, then try again.

[2020-01-30 14:27] #3739 closed

[2020-01-30 14:31] #5207 closed

[2020-01-30 16:28] sebastienlevert commented on #4276
I'm reopening this one as we have started to see new reports of these APIs being unstable. Are they meant to be used or not? Not, users with read permissions on ALL the sites within a hubsite, including the hubsite, can't read the hubsite API as it's empty.

[2020-01-30 17:23] ng-marcus commented on #5235
We see the same too with this appearing on standard release tenants.

[2020-01-30 18:00] bu11frogg commented on #4763
@shagra-ms I would like to see that, yes.  If a View has custom formatting and it includes tileProps, I think it would make sense to default to Tiles layout when using that View.  It's disappointing to spend a few hours customizing a view just to learn that NONE of your users are seeing it.

Additionally I would also like to see a way to link to a Tiles layout for any View in the URL, e.g. "?layou

[2020-01-30 18:20] pkmelee337 commented on #4775
@johnguy0 , thanks for your reply. I will be updating our spfx packages next week and i'll let you know!

[2020-01-30 18:40] VesaJuvonen commented on #4744
These are really really hard to investigate and fix as such as they are happening in the moment of time and we simply don't scale as such on jumping these one by one to detect if the issue is on the external code or at the service side.

So situation around these is really complex and if you have the option, please do report the issue through Premier Support as that provides us away to allocate mo

[2020-01-30 19:08] mikewalker74 commented on #4744
Hi Vesa,
I appreciate the point in time nature to the challenges to help support this but the clear lack of instrumentation to help developers appreciate why and in most cases non explainable reasoning. If another tenant is saturating the platform we have code to try and mitigate and manage as per PNP best practices.. Our concern and issue is where we have user experience issues and further more s

[2020-01-30 19:19] kemesfun commented on #2481
@StfBauer I am not able to reproduce this issue, I am using yeoman generator v1.10. Can you verify whether or not this issue still occurs?

[2020-01-30 19:36] sympmarc commented on #4744
It's not just a developer problem, either. Either this thread or one other one has examples of throttling when using Sharegate to copy just a few items. It then impacts the UI for the end user. No dev involved.

[2020-01-30 20:09] johnguy0 commented on #4672
@deanbot Yes, you are correct we do not currently surface the section layout information.

[2020-01-30 20:09] #4672 closed

[2020-01-30 20:10] johnguy0 commented on #4672
Please submit your feedback and suggestion using UserVoice, so we can take your suggestion into account in our future planning. Thank you for your input in advance.

[2020-01-30 20:25] johnguy0 commented on #4779
Are there repro steps? More details about the SPFx version being used?

[2020-01-30 20:27] Laul0 commented on #2481
Hi @kemesfun it is not linked to the version of your generator... It is linked with your operating system if it is case sensitive.
On Windows and MAC OS you will don't have the issue, because this OS are not case sensitive... But if you use a Linux (Ubuntu, Debian, etc.), this kind of OS are case sensitive so when the build is launched, it try to find `ClientSideInstance.xml` while it is `clientsi

[2020-01-30 20:28] #4843 closed

[2020-01-30 20:32] johnguy0 commented on #4891
The answer in #4238 is correct. As your submission is an enhancement on existing feature or a feature request, we cannot process it through this channel. Please submit your feedback and suggestion using UserVoice, so we can take your suggestion into account in our future planning. Thank you for your input in advance.

[2020-01-30 20:32] #4891 closed

[2020-01-30 20:54] johnguy0 commented on #5019
Does this repro with the OOB HelloWorld web part? Is there a scoped code sample on GitHub for us to look at?

[2020-01-30 21:16] byronwjones opened #5259 "SharePoint Redirect URI Needed?"
Given that web parts are granted authorization via OAuth Implicit flow, what exactly is the mechanism that establishes the trust relationship between the Azure AD secured Web API and SharePoint? Specifically, what configures the Web API's app registration to accept [my-tenant].sharepoint.com/etc/etc as a valid redirect URI?  Is this done automatically when a SharePoint admin grants permission to t

[2020-01-30 22:05] thriggle opened #5260 "Having more than one web part 'preconfiguredEntries' does not work in SharePoint 2016 on prem"
## Category

- [x] Bug

## Describe the bug

When multiple preconfiguredEntries are present in the web part's manifest.json file, only the first (alphabetically) can be added to a page in SharePoint 2016 on premises. The others are visible in the web part gallery and can be added to the workbench demo page without any issue, but can't be added to actual (classic) pages.

## Expected behavior

When

[2020-01-31 00:15] kemesfun commented on #3605
As of 1.10, this issue doesn't repro. @estruyf can you verify whether or not this issue still occurs?

[2020-01-31 01:09] kemesfun commented on #2523
@VitaliyZadorozhnyy Can you verify if this issue still occurs?

[2020-01-31 01:09] kemesfun commented on #4184
@brettlonsdale Can you verify if this issue still occurs?

[2020-01-31 01:15] StfBauer commented on #2481
@kemesfun You can verify issues like this on Windows too. It is not only limited to MacOS and Linux.

The easiest way is to use on Windows WSL(Windows SubSystem for Linux) or [enable case-sensitivity](https://www.windowscentral.com/how-enable-ntfs-treat-folders-case-sensitive-windows-10#enable_case_sensitivity_ntfs_windows10).

Docker container run in this issue too.

1.10.0 seems to have this fix

[2020-01-31 01:15] #2481 closed

[2020-01-31 01:31] johnguy0 commented on #4163
Thanks! Feel free to open a new issue if you encounter this again.

[2020-01-31 01:31] #4163 closed

[2020-01-31 02:50] NotAlexx commented on #4929
Hey @cwdata

I have used our premier support and this is the word from microsoft.

Short-term solution:
Access https://sender.office.com/ and follow the steps to delist the blocked IP your get from the error message. Customer may get different IPs when encounter this issue, so we need to delist each of them from black list. If you cannot get the IP address, contact us with error message and timest

[2020-01-31 06:33] slavag commented on #5247
Microsoft guys, any update on this?
This issues is causing to data corruption on migration and backup processes, one of major sharepoint api is buggy. Please take a care

[2020-01-31 07:40] JarbasHorst commented on #5252
Hello @PrasadKasireddy
I've created a new teams-tab web part based on [the provided]( https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/get-started/using-web-part-as-ms-teams-tab) Microsoft documentation. Everything worked properly and I was able to sync the web part as a Teams tab.

I was able to reproduce the problem with your sppkg file. Maybe it has not been generated correctly. I

[2020-01-31 08:15] Harshagracy commented on #5212
Yes I tried it without updaing the URL now. It works. Thanks @VesaJuvonen !

[2020-01-31 08:15] #5212 closed

[2020-01-31 10:41] cwdata commented on #4929
Thanks @NotAlexx
at least we now know, that Microsoft is tracking this issue.
As we and others have made the experience that delisting the blocked IPs does not help this will be a waste of time. So we will have to wait.
Looking at our logs most of the times one retry is enough to get the mail sent. We rarely need 2 retries.

[2020-01-31 11:23] gabbsmo opened #5261 "MoveCopyUtil.MoveFileByPath does not work cross sites with special characters"
## Category

- [x] Bug

## Steps to reproduce

1. Create two team sites
2. Create a folder `New '-!@#$%^_+-=.,{}~[&]()Folder` in the destination sites' document library
3. Move a file using

[code]

4. It then fails with a ServerException

## Expected behavior

The file should be moved without errors.

## Developer environment

- OS: Windows 10
- Framework: .NET Framework 4.6
- Tooling: Visual Stu

[2020-01-31 12:00] #5072 closed

[2020-01-31 12:24] applekajui6 opened #5262 "SPFX WebPart consuming Graph api to display events is not working in IE11"
## Category
Issue
- [x] Bug
SPFX WebPart consuming Graph api to display events is not working in IE11
## Describe the bug

I have created SPFX Webpart which displays calendar events using Graph API. It is working in Chrome but not in IE11

[2020-01-31 12:42] applekajui6 opened #5263 "getting 400 BadRequest Error sometimes when I try to get calendar events in SPFX Webparts"
## Category
Issue
- [x] Bug
getting 400 BadRequest Error sometimes when I try to get calendar events in SPFX Webparts

## Describe the bug

I am getting 400 BadRequest Error sometimes when I try to get display calendar events in SPFX Webpart.

![image](https://user-images.githubusercontent.com/60218749/73540168-375d6d00-4455-11ea-9e44-d5f41561de7e.png)

URL:
https://graph.microsoft.com/v1.0/me/cal

[2020-01-31 13:03] PrasadKasireddy commented on #5252
Please refer my environment configuration details
OS  - windows 10
SPFx - 1.10.0
Node - 10.18.0
Yeomen - 3.1.1
gulp - 4.0.2
npm - 6.13.4

![SPFx version](https://user-images.githubusercontent.com/11626905/73541209-d6836400-4457-11ea-9320-07c11b1c9654.PNG)

[2020-01-31 13:34] toblum commented on #1758
Same here: Need to find out if the page is in edit mode from the application customizer. Found no solution so far.

[2020-01-31 13:59] andrewconnell commented on #5259
@byronwjones said:

Every SPO tenant has an Azure AD app that's created in your tenant the first time you grant a permission to SPO to the Azure AD app that protects your HTTPS endpoint. Both apps are in Azure AD so they share trust with Azure AD. When you grant SPO the permission to your HTTPS endpoint, you're effectively giving SPO permission to call it. SPFx is obtaining an access token from AA

[2020-01-31 14:06] andrewconnell commented on #5260
As your referenced issue indicates, this was fixed in SharePoint Online in mid/late 2017. However, you say you're on SharePoint Server 2016.

Unfortunately, there is no mechanism to update SPFx on-prem so the issue that was fixed in SPO hasn't & won't be fixed in the existing SPFx v1.1 on SP2016. The fix would have been applied to SharePoint Server 2019 though.

[2020-01-31 14:11] andrewconnell commented on #5263
Your query isn't valid. Use the [Graph Explorer](https://aka.ms/ge) to test your query.

[2020-01-31 14:11] #5263 closed

[2020-01-31 15:16] lemonpowah opened #5264 "Partial loading, issue with cached webparts in modern pages"
## Category

- [x] Bug

## Describe the bug
When navigating from one modern page to another modern page, it seems that SPFx Webparts get cached and invalid/old data is displayed. This seems to occur because of partial loading (which gets triggered when navigating between modern pages). If you reload the page the webparts display the latest data.

## Steps to reproduce
You need a way to navigate be

[2020-01-31 15:19] lemonpowah commented on #5264
Found this #2398 and it seems to be the same thing. It's closed from last year so I opened a new one.

[2020-01-31 18:53] NotAlexx commented on #4929
No worries, in the meantime I am doing an http request to a flow and sending emails from there.

Cheers

[2020-01-31 20:04] menu4web commented on #2523
App extension on new NewForm.aspx is working for me.

![2020-01-31_14-51-02](https://user-images.githubusercontent.com/58607273/73570597-a24d7a80-443a-11ea-81c2-55672a50d5b3.png)

All form customization work as expected.

[2020-01-31 20:19] 2toLeadMike commented on #2709
@kemesfun tried using spfx 1.10.0 and it now logs the error. It does not react the same way render() works (it will show endless shimmer whereas render shows error message to end user) however the important piece was being able to get exception info. Thanks for heads up

[2020-01-31 20:19] #2709 closed

[2020-01-31 20:32] menu4web commented on #5035
I there any update on this issue? What do these labels mean: area:other type:question?

[2020-01-31 20:53] #2523 closed

[2020-01-31 20:55] johnguy0 commented on #4817
This is currently by design. We do have a backlog item to eventually enable the scenario where a solution could have a mix of Teams components and other components.

As your submission is an enhancement on existing feature or a feature request, we cannot process it through this channel. Please submit your feedback and suggestion using UserVoice, so we can take your suggestion into account in our f

[2020-01-31 20:56] #4817 closed

[2020-01-31 21:00] #5229 closed

[2020-01-31 22:47] kemesfun commented on #4570
@vman Have you tried adding this to the index.ts :
``export { ButtonComponent } from './libraries/customFabric/ButtonComponent'``
This seems to be by design that you have to export from from `` ./libraries/<folder-name>/<components>/SomeComponent';``

[2020-02-01 00:36] kemesfun commented on #4554
@StfBauer That command doesn't work since there is no framework prompt for library component.
``yo @microsoft/sharepoint --component-type webpart --framework react``  works since there is a component type of webpart and a prompt for framework. This is working by design.

[2020-02-01 00:36] #4554 closed

[2020-02-01 02:59] OverkillTV commented on #5019
The issue doesn't happen anymore for both the new webparts and also the old ones who used to have this issue. The issue just simply went away during end of December 2019 not sure why.

[2020-02-01 02:59] #5019 closed

[2020-02-01 03:33] dips23 opened #5267 "What is the least privilege permission to deploy solution in site collection app catalog?"
## Category

- [x] Bug

## Describe the bug

I have been verifying the least permission as per [this ](https://docs.microsoft.com/en-us/sharepoint/dev/general-development/site-collection-app-catalog)article that says, the user should be site collection administrator to deploy the solution in site collection app catalog, however, if I try to deploy the solution with "Edit" permission, I face follow

[2020-02-01 05:54] lucabandMSFT commented on #4929
Folks, I'm removing the "needs MS review" tag here as a team in Microsoft (Exchange) is already aware of the issue and has a workitem assigned to solve it (as mentioned before). Happy to leave this open here and close it once the fix has been reported to be deployed

[2020-02-01 11:02] shahulcode commented on #4779
Steps to Reproduce:
1) Create site with 3 Level subsites ex. Site A -> Subsite A-1 -> Subsite A-1-1
2) Create SPFx app and deploy to farm (App catalog) and add to site (Site A and Subsite A-1)
3) Change SPFx some code  or files (don't change the version)
4) Redeploy App to App catalog
5) Add app to the Subsite A-1-1 (Throws error "**Difference version of this app already installed**"), If it is su

[2020-02-01 11:41] applekajui6 commented on #5262
used the same code in this link https://github.com/microsoftgraph/msgraph-training-spfx/tree/master/Demos/02-events .. it is not working in ie11

[2020-02-01 13:00] #5245 closed

[2020-02-01 18:00] #4776 closed

[2020-02-01 22:23] abdollahkahne commented on #5220
I can't understand the problem but using power shell command is similar to REST API and created personal site is similar And the current user needs to open newsfeed page (at their personal site!) to enable newsfeed feature at their site. I solve my problem using an `iframe` of that page for the first visit of of my custom page but I am sure that there is a method which doesnt needs this tricks!

[2020-02-02 14:00] #5250 closed

[2020-02-02 21:51] JarbasHorst commented on #5252
I've analysed your sppkg file. The file WebPart_1baa6995-0828-4855-8004-51268b2903a4.xml doesn't contain TeamsTab as a supported host. This is the reason why the Sync to Teams button is disabled. The WebPart_1baa6995-0828-4855-8004-51268b2903a4.xml file represents part of your web part's manifest. For some reason your changes to the manifest file didn't get saved! Would you like to give the web pa

[2020-02-03 04:07] jonathanhotono opened #5268 "Change the look theme throws error and does not load, sidebar collapsed."
## Category

- [x] Bug

## Describe the bug
I can no longer change theme/color across multiple tenants(some tenant works) via "Change the look"

## Steps to reproduce
1. Click "Change the look"
2. Click "Theme"
3. Sidebar collapsed and theme section not loaded

![change-the-look](https://user-images.githubusercontent.com/6864547/73625020-ad401f00-4675-11ea-9145-0be40bae637e.gif)

## Developer envi

[2020-02-03 04:48] furler commented on #5268
I'm seeing this too

[2020-02-03 05:25] anthony-git opened #5269 "[HTTP]:500 - [CorrelationId]:ddb9319f-5045-a000-e515-bd44a26a8eb0 [Version]:16.0.0.19708"
Manage access to Azure AD-secured APIs from SharePoint Framework.
I'm trying to give the permission to Graph Api for my sharepoint SPFX webpart am getting [HTTP]:500 - [CorrelationId]:ddb9319f-5045-a000-e515-bd44a26a8eb0 [Version]:16.0.0.19708

[2020-02-03 06:17] dips23 commented on #5267
Hello,

I have got a piece of information from this link - [](https://docs.microsoft.com/en-us/sharepoint/request-app-installation-permissions) which clarifies: “Only those users who have the appropriate permission level can add apps to a site. Typically, Full Control permission (or membership in the Site Owners group) is the minimum requirement.”

We can close this ticket.

Thank you and Regards,

[2020-02-03 07:37] #5268 closed

[2020-02-03 07:37] VesaJuvonen commented on #5268
We do understand that this is not certainly optimal, but as this is non-dev issue impacting out-of-the-box experience, it should be reported using the tenant admin support channels (admin UIs in your tenant). We cannot unfortunately provide support for non-dev topics through GitHub.

[2020-02-03 07:41] anthony-git commented on #5269
![2020-02-03_13h10_26](https://user-images.githubusercontent.com/54057007/73634185-9a821600-4686-11ea-8db6-c38724ee4d33.png)

[2020-02-03 07:44] anthony-git commented on #5269
Am following this post : https://github.com/SharePoint/sp-dev-fx-webparts/tree/master/samples/react-birthdays

Am trying to give graph permission for birthday web part that has been deployed in App-catalog .

[2020-02-03 07:45] VesaJuvonen commented on #5269
Thx @anthony-git, can you also provide details around the SharePoint version which you are using and what permissions you are trying to approve? Are the Graph permissions or something else. In general our issue template is provided for reason, so that we can help you as efficiently as possible, so would not recommend deleting the template as suggested also in writing.

[2020-02-03 07:46] VesaJuvonen commented on #5269
Are you a tenant administrator in this tenant or just SharePoint administrator?

[2020-02-03 07:52] VesaJuvonen commented on #5267
thx @dips23 for coming back and providing also the answer, that helps for anyone else who might ran into your question. Really appreciated. Closing based on the request from you.

[2020-02-03 07:52] #5267 closed

[2020-02-03 07:55] VesaJuvonen commented on #5269
We can see an permission exception at the Logs for this issue, which would indicate that you are using an account which is SharePoint administrator, but not a tenant administrator. That would clarify the situation. If you are however using a tenant administrator, then we are potentially running into a regression, which we can solve by clearing the status at the Azure AD side, but this step is slig

[2020-02-03 07:56] anthony-git commented on #5269
Am using SharePoint online.
Am trying to Approve the Graph API permission
I'm SharePoint Administrator

[2020-02-03 08:05] VesaJuvonen commented on #5269
@anthony-git - if you are ONLY a SharePoint administrator, this is as expected as the permissions which you are trying to approve are actually applied in the Azure AD and you need to be tenant administrator aka. global administrator.

We can see following exception in the logs for you case - *"Insufficient privileges to complete the operation."*.

This means that you either need to request your te

[2020-02-03 08:19] PrasadKasireddy commented on #5252
Thanks for your suggestion @JarbasHorst, sure I will try and let you know.

[2020-02-03 09:17] TjWheeler commented on #4774
Hi @johnguy0, thanks for pointing out that documentation.  I hadn't tried that.

Setting it to isHtmlString: true did indeed fix the Page Corruption issue.  The page can now be saved and edited without issue.

Unfortunately I can't really use that for my scenario, because the data is manipulated within the web part.

After setting the `description` field to an html string and saving the value `[[t

[2020-02-03 09:36] PrasadKasireddy commented on #5252
Thanks @JarbasHorst , now it is working you are right manifest file didn't get saved.

[2020-02-03 09:36] #5252 closed

[2020-02-03 10:02] shagra-ms commented on #4763
@bu11frogg Thanks for sharing more details on the ask.

This is now tracked in our backlog.

[2020-02-03 11:22] piekenpuil opened #5271 "Does not work in SP 2019"
All of these demos work as a charm with SharePoint Online, but a lot of them are useless for SP2019. E.g. the data bar example just shows blanks instead of values in SP2019. Is the syntax different there ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f60068c3-4534-a400-350b-fdbcefd684b6
* Version Independent ID: 228a

[2020-02-03 11:39] shagra-ms commented on #5226
Yes the 'flexbox like' tiles staggering will also be fixed with this fix. Though the fix on the list web part is a bit delayed and would roll out in 2-3 weeks.

We take your feedback on tileProps, and are now tracking this in our backlog.

[2020-02-03 11:41] shagra-ms commented on #5251
@asifahmeds The fix for this is in pipeline. It shall be available on list web parts in 2-3 weeks.

[2020-02-03 12:59] shagra-ms commented on #4946
Thanks @m3ngi3 for sharing the JSON. Can't see any issues with the JSON.

To investigate this a bit more, please share more info -
1. Can you add [debugMode](https://docs.microsoft.com/en-us/sharepoint/dev/declarative-customization/column-formatting#debugmode) flag in the JSON and check if there is any error?
2. Can you share the field type for the columns referred in the JSON?
3. Can you confirm

[2020-02-03 13:55] wwcoop commented on #3537
I am seeing the same issue. The CSS reference is causing the formatted content to stair step down the page.
`https://imgur.com/a/pIWOnTS`
I started seeing this behavior ~ a month ago in my site. As noted above, the formatted content looks fine in the list view, but no in the list web part being used on the home page.
The 38px reference is what causes this:
`.root-162 .ms-List-cell {
    min-height

[2020-02-03 14:00] #5259 closed

[2020-02-03 14:30] bu11frogg commented on #4763
Thank you @shagra-ms.  The idea has been posted here:  https://sharepoint.uservoice.com/forums/329220-sharepoint-dev-platform/suggestions/39618640-allow-list-library-layouts-compact-tile-to-be

[2020-02-03 15:00] #5260 closed

[2020-02-03 16:10] andrewconnell commented on #5271
I believe only v1 of the column formatting is supported. There's a note in the section [Get Started with Column Formatting](https://docs.microsoft.com/en-us/sharepoint/dev/declarative-customization/column-formatting#get-started-with-column-formatting) in this doc that states you need to specify the v1 schema.

Any of the samples you see that list v2 or higher will only work on SharePoint Online.

[2020-02-03 16:15] #5221 closed

[2020-02-03 16:31] thriggle opened #5273 "Note: SharePoint 2016 does not support multiple preconfigured entries."
It'd be helpful to note at [Specify Multiple Preconfigured Web Part Entries](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/web-parts/guidance/simplify-adding-web-parts-with-preconfigured-entries#specify-multiple-preconfigured-web-part-entries) that multiple preconfigured entries are not supported in SharePoint 2016 per [Issue #5260](https://github.com/SharePoint/sp-dev-docs/issues/5260).

-

[2020-02-03 16:35] andrewconnell commented on #5262
The **Needs: Context Detail** is more than just "where is your code". It would help if you can provide detail son what isn't working. What error are you getting, where, etc.

[2020-02-03 16:50] bnm12 commented on #2005
I'm still experiencing this issue too

[2020-02-03 17:02] thriggle commented on #5273
Maybe the note should just be added to the [page about working with SharePoint 2016](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/sharepoint-2016-support) to keep all the little 2016-specific oddities from polluting the rest of the docs, but it'd still be nice to have a pointer to send folks there from this page.

[2020-02-03 18:15] Kthksdie opened #5276 "The partner returned a bad sign-in name or password error"
## Category
- [x] Question
- [ ] Typo
- [ ] Additional article idea

## Question
We are using a 'service' account to fetch data from SharePoint, which was previously working a few weeks ago but stopped.
- The error we are getting when trying to authenticate to SharePoin with CSOM via PowerShell and C#: "The partner returned a bad sign-in name or password error. For more information, see Federation

[2020-02-03 21:13] subhasishmukhopadhyay opened #5277 "Left Navigation loading issue with SingleWebPartAppPage"
## Category

- [x] Bug

## Describe the bug

- Create a SingleWebPartAppPage and added SPFx Webpart.
- Using it in modern TeamSite template
- Clicking on some link in the webpart when loading any URL the left navigation in Chrome is showing "Loading..." many times and nothing happens in left nav. It is working fine in IE / Edge. This problem started happening since last few days only. So existing

[2020-02-03 22:22] johnguy0 commented on #4774
Yes, unfortunately the double brackets are a part of the legacy [wiki link syntax](https://support.office.com/article/create-and-edit-a-wiki-dc64f9c2-d1a2-44b5-ac59-b9d535551a32).

Another workaround could be to encode/decode the brackets if you didn't want to change your original syntax.

[2020-02-03 22:22] #4774 closed

[2020-02-03 22:35] GrahamMcMynn commented on #4779
@shahulcode  - The issue you are seeing is because what you are doing is not supported.  This will happen in SharePoint online as well.  When you modify your package you MUST update the version number.  When you install a package it creates a hash of the package and saves it as a fingerprint.  If this fingerprint changes but the version has not, and you have previously installed the solution alrea

[2020-02-03 22:35] #4779 closed

[2020-02-04 00:42] shagra-ms commented on #4763
Thanks @bu11frogg for sharing this.

[2020-02-04 01:07] shagra-ms commented on #5271
@piekenpuil Can you confirm the JSON you used?

Please note that excel style expressions are not supported on SP 2019. You need to use the AST version of the JSON from the sample repository on SP 2019.

[2020-02-04 01:11] shagra-ms commented on #2397
The issue has been fixed locally and would be rolled out in the upcoming updates.

[2020-02-04 02:03] coupalm commented on #5226
2 to 3 weeks before the fix gets applied is very long. Is there anything that can be done to speed that up?
Thanks!

[2020-02-04 05:50] SumitKanchan4 opened #5278 "Updating the term properties"
## Category
- [x] Question
- [ ] Typo
- [ ] Additional article idea

## Question

I am having  an requirement, where I need to update the properties of a term eg.. name, custom Property. and I am not having any method to update the term using Powershell. The only way I got is to remove the term and then re-create the term with the same ID. Please suggest what should be the ideal way of doing this.

[2020-02-04 09:44] NickSevens opened #5279 "SPFx 1.10 Personal App doesn't load in Teams mobile app"
## Category

- [x] Bug

## Describe the bug

When adding an SPFx 1.10 webparts as a personal app in Teams, the app doesn't load in the Teams mobile client. (with developer preview enabled)
Instead, the application redirects to the SharePoint homepage, and not the specified component.

[2020-02-04 10:07] svaibhav commented on #3537
@wwcoop The fix for this issue is already in the deployment pipeline and will reach production soon.

[2020-02-04 10:23] EagleWizard28 opened #5280 "SiteStatus 3 error on CreateSiteAsync with TeamNoGroupSiteCollectionCreationInformation"
## Category

- [x] Bug

## Describe the bug

Creating a site collection with the "CreateSiteAsync" method, on an app only clientcontext with clientid and clientsecrect, using"TeamNoGroupSiteCollectionCreationInformation" gives an exception "SiteStatus 3".

**_System.Exception: '{"SiteId":"","SiteStatus":3,"SiteUrl":""}'_**

`This exception was originally thrown at this call stack:
	OfficeDevPnP.Co

[2020-02-04 14:02] panggio opened #5281 "Formatting list views hideColumnHeader doesn't work on List webpart"
## Category
- [x ] Question
- [ ] Typo
- [ ] Additional article idea

## Question

## Environment details
 - Platform: SharePoint Online

[2020-02-04 14:10] shahulcode commented on #4779
if i doing so, should i need to update the app version all sites?

[2020-02-04 14:30] PrasadKasireddy commented on #5226
Duplicate of #5281

[2020-02-04 14:50] semopz opened #5282 "LookupMulti Projected Field as a ViewField in CAML"
I'd like to request an update on the Join element article to list capabilities (or limitations, as the case may be)  for `LookupMulti` type fields.

I can create a join-based query on a lookup column, but as soon as I change the lookup field to allow multiple values, the query fails with

I guess the following statement answers my question but I think it should be more explicit/prominent.

In my m

[2020-02-04 15:25] wvstrien opened #5283 "Hub site on navigation preserves SPFx header display state of associated site"
## Category

- [x] Bug

## Describe the bug

https://williamvanstrien.blogspot.com/2020/01/peculiarity-with-hub-sites-spfx-header.html

Following information architecture situation:
1. A communication site registered as hub site
2. Another site (can be communications or modern teams site) associated with the hub site
3. The associated site has some site info tagging; which is visualized to site vi

[2020-02-04 15:54] RoelVB commented on #3160
Just checked. Doesn't seem to happen anymore.

[2020-02-04 15:54] #3160 closed

[2020-02-04 19:59] Divyeshkotadia commented on #5213
@andrewconnell Let me clear the air, the header issue is still reproducible on my tenant. Please guide team to fix it.

[2020-02-05 03:14] OS-Lee commented on #5281
You could deploy [react-script-editor](https://github.com/SharePoint/sp-dev-fx-webparts/tree/master/samples/react-script-editor) to hide the header when you add list to modern page by List webpart

[code]

![image](https://user-images.githubusercontent.com/40845109/73807739-71898e80-4808-11ea-9a2d-e2497f120c55.png)

**Lee
Microsoft SharePoint Community Support**

[2020-02-05 07:08] VesaJuvonen commented on #5213
@Divyeshkotadia https://github.com/SharePoint/sp-dev-docs/wiki/Issue-List#our-approach-to-closed-issues